[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

awscli = "*"


[packages]

sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"
sphinx-sitemap = "*"
sphinx_reredirects = "*"
