[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
awscli = "==1.40.7"
pytest = "==8.3.5"
exceptiongroup = {version = "*", markers = "python_version < '3.11'"}
black = "==25.1.0"
docutils-stubs = "==0.0.22"

[packages]
furo = "==2024.8.6"
myst-parser = "==4.0.1"
sphinx-autobuild = "==2024.10.3"
sphinx-copybutton = "==0.5.2"
sphinxcontrib-mermaid = "==1.0.0"
sphinx = "8.2.3"
