version: 2.1
orbs:
  aws-s3: circleci/aws-s3@1.0.11

jobs:
  build:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - restore_cache:
          key: dependencies-{{ checksum "Pipfile.lock" }}
      - run:
          name: Install Python deps
          command: |
            pip install pipenv
            pipenv install --dev
      - save_cache:
          key: dependencies-{{ checksum "Pipfile.lock" }}
          paths:
            - ~/.local/share/virtualenvs
      - run: make html
      - persist_to_workspace:
          root: .
          paths:
            - build/html

  deploy_prod:
    docker:
      - image: circleci/python:3.8
    steps:
      - attach_workspace:
          at: .
      - aws-s3/sync:
          from: build/html
          to: 's3://docs.mattermost.com/'
          arguments: '--acl public-read'
          overwrite: true

  deploy_staging:
    docker:
      - image: circleci/python:3.8
    steps:
      - attach_workspace:
          at: .
      - aws-s3/sync:
          from: build/html
          to: 's3://docs-stagging.mattermost.com/'
          arguments: '--acl public-read'
          overwrite: true

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore: gh-pages
      - deploy_prod:
          context: matterbuild-docs
          requires:
            - build
          filters:
            branches:
              only: master
      - deploy_staging:
          context: matterbuild-docs
          requires:
            - build
          filters:
            branches:
              only: staging
