/* Click to copy buttons */
.mm-code-copy {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 1000px) and (max-width: 1280px) {
    .mm-code-copy.mm-code-copy--long {
        display: grid;
        column-gap: 20px;
        grid-template-columns: 1fr 220px;
    }

    .mm-code-copy.mm-code-copy--long .mm-button {
        margin-left: 0px;
        line-height: 1.3;
    }
}

@media (min-width: 960px) {
    .mm-code-copy {
        flex-direction: row;
    }
}

.mm-code-copy__wrapper {
    position: relative;
    align-self: flex-start;
    max-width: 670px;
}

.mm-code-copy__copied-notice {
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #162645;
    padding: 10px 12px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    position: absolute;
    right: calc(50% - 100px);
    z-index: 0;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
    font-family: trade-gothic-next,sans-serif;
    bottom: -40px;
}

.mm-code-copy__copied-notice.show {
    opacity: 1;
    visibility: visible;
    top: unset;
    bottom: -35px;
}

@media (min-width: 960px) {
    .mm-code-copy__copied-notice {
        /* top: 50px; */
    }

    .mm-code-copy__copied-notice.show {
        /* top: 54px; */
        /* bottom: unset; */
    }
}

.install-hidden-field {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: none;
    opacity: 0;
}

.mm-code-copy code {
    background-color: #ECF0F9 !important;
    border-radius: 5px;
    padding: 18px 10px;
    border: none !important;
    color: #1C58D9 !important;
    font-size: 13px !important;
    font-family: Fira Mono, monospace !important;
    display: inline-block;
}

.mm-code-copy code:hover {
    cursor: pointer;
}

@media (min-width: 1400px) {
    .mm-code-copy code {
        padding: 18px;
        font-size: 15px !important;
    }
}

.mm-code-copy button.mm-button {
    font-size: 13px;
    background-color: #4A69AB;
    display: flex;
    align-items: center;
    line-height: 1;
    padding: 13px 25px;
    align-self: flex-start;
    margin-bottom: 20px;
}

@media (min-width: 960px) {
    .mm-code-copy button.mm-button {
        margin-left: 20px;
        margin-bottom: 0px;
    }
}

@media (min-width: 1400px) {
    .mm-code-copy button.mm-button {
        padding: 15px 25px;
        font-size: 17px;
    }
}

.mm-code-copy button.mm-button:hover {
    background-color: #2C4987 !important;
}

.mm-code-copy button.mm-button svg {
    margin-right: 10px;
}

.mm-code-copy button.mm-button span {
    color: #ffffff;
    font-weight: 700;
}

/* mm-code-block */
.mm-code-block .highlight {
    background-color: #ECF0F9 !important;
    border-radius: 5px;
    padding: 18px 15px;
    border: none !important;
    display: inline-block;
}

@media (max-width: 720px) {
    .mm-code-block .highlight {
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .mm-code-block .highlight {
        padding: 18px;
    }
}

.mm-code-block .highlight pre {
    color: #1C58D9 !important;
    font-family: Fira Mono, monospace !important;
    font-size: 13px !important;
    white-space: pre-line !important;
}

@media (min-width: 1400px) {
    .mm-code-block .highlight pre {
        font-size: 15px !important;
    }
}

.mm-code-block pre {
    padding: 0 !important;
}

.mm-code-block pre span {
    color: #1C58D9 !important;
}
