body {
  --color-highlight-on-target: rgb(255 212 112 / 32%);
  --primary: #1C58D9;
  --denim-01: #C5D2EC;
  --denim-05: #1E325C;
  --black-01: #EBEBEF;
  --black-04: #5A6072;
  --black-05: #363A45;
}

body:not([data-theme=light]) {
  --primary: #FFBC1F;
  --color-highlight-on-target: rgb(255 212 112 / 32%);
}

.site-header__col--logo {
  color: #1B1D21;
}
.site-header__col--logo a {
  color: inherit !important;
}

body:not([data-theme=light]) .site-header__col--logo {
  color: #fff;
}
body:not([data-theme=light]) .site-header {
  background: #000;
}

.sidebar-container {
  width: 272px;
  padding: 16px 0 0 16px;
  overflow: hidden;
}

/* Theme Overrides */
.sidebar-search-container {
  padding: 0 16px;
  color: #3F4350A3;
}
.sidebar-search-container:hover {
  background: transparent;
}

.toc-tree li.scroll-current > .reference {
  color: var(--primary);
}

.scroll-current a {
  position: initial;
}
.scroll-current a::before {
  content: "";
  background-color: currentColor;
  width: 3px;
  height: 16px;
  display: block;
  position: absolute;
  left: 0;
}

.sidebar-tree label {
  margin-right: 8px;
}
.sidebar-tree .current-page > .reference {
  color: #1C58D9;
  border-right: 3px solid currentColor;
  background: rgba(28, 88, 217, 0.04);
}
.sidebar-tree .current-page > a.current {
  color: #1C58D9;
}

.sidebar-search {
  border-radius: 4px;
  border: 1px solid rgba(63, 67, 80, 0.16);
  background: #FFF;
}

.sidebar-search-container:before {
  left: 32px;
  z-index: 20;
  background-color: currentColor;
}

.sidebar-tree .toctree-l1 > .reference, .sidebar-tree .toctree-l1 > label .icon {
  color: #363A45B8;
}

body:not([data-theme=light]) .toc-tree li.scroll-current > .reference {
  color: var(--primary);
}
body:not([data-theme=light]) .sidebar-tree .current-page > a.current {
  color: var(--primary);
  background: rgba(255, 255, 255, 0.04);
}
body:not([data-theme=light]) .sidebar-tree .toctree-l1 > .reference, body:not([data-theme=light]) .sidebar-tree .toctree-l1 > label .icon {
  color: #FFFFFFB8;
}
body:not([data-theme=light]) .sidebar-search-container {
  color: #FFFFFFA3;
}
body:not([data-theme=light]) .site-header__col--logo {
  color: #fff;
}
body:not([data-theme=light]) .sidebar-search {
  border: 1px solid rgba(255, 255, 255, 0.16);
  background: rgba(255, 255, 255, 0.04);
}

h1, h2, h3, h4, h5, h6 {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 800;
}

.admonition {
  font-size: 16px;
  padding: 0 16px 12px 16px;
  border-radius: 4px;
  background: rgba(54, 58, 69, 0.06);
  box-shadow: none;
}
.admonition p.admonition-title {
  margin: 0 -16px 12px;
  height: 36px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  padding-left: 40px;
}
.admonition p.admonition-title:before {
  width: 18px;
  height: 18px;
  top: 8px;
  left: 14px;
}
.admonition.tip, .admonition.important {
  border: none;
}
.admonition.tip .admonition-title, .admonition.important .admonition-title {
  background: #339970;
  color: white;
}
.admonition.tip .admonition-title:before, .admonition.important .admonition-title:before {
  background: white;
}
.admonition.note {
  border: none;
}
.admonition.note .admonition-title {
  background: #1E325C;
  color: white;
}
.admonition.note .admonition-title:before {
  background: white;
}

.tab-set > input:checked + label {
  color: var(--primary);
  border-color: currentColor;
}
.tab-set > input:checked + label:hover {
  border-color: currentColor;
}

.highlight button.copybtn {
  background: transparent;
}

body:not([data-theme=light]) .mm-badge img {
  filter: invert(100%);
}
body:not([data-theme=light]) .admonition {
  background-color: rgba(255, 255, 255, 0.06);
}
body:not([data-theme=light]) .admonition.note .admonition-title {
  background: #4A69AB;
}
body:not([data-theme=light]) .tab-set > input:checked + label {
  color: var(--primary);
}
body:not([data-theme=light]) .highlight, body:not([data-theme=light]) .mm-code-copy code {
  background: rgba(255, 255, 255, 0.04) !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
body:not([data-theme=light]) .highlight pre, body:not([data-theme=light]) .mm-code-copy code pre {
  color: rgba(255, 255, 255, 0.8) !important;
}

.mm-badge__accent-text {
  color: var(--neutral-600, #767D93);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.mm-badge__title {
  color: var(--neutral-950, #363A45);
  font-family: "trade-gothic-next", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  flex: 0 0 auto;
}

.mm-badge__copy > * {
  display: block;
}

.mm-badge--academy {
  padding: 0;
  border: 1px solid var(--neutral-100, #E8E9ED);
  background: var(--neutral-50, #F4F4F6);
  display: flex;
  align-items: center;
  gap: 20px;
}
.mm-badge--academy > * {
  display: inline-block;
}
.mm-badge--academy img {
  height: 75px;
  width: auto;
  margin: 0 !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.masthead {
  background-color: var(--denim);
  font-family: "trade-gothic-next", "Lato", "Helvetica Neue", "Arial", sans-serif;
  padding: 40px 30px 160px;
}
.masthead .container {
  max-width: 1100px;
  position: relative;
}
.masthead .container .theme-toggle-container {
  position: absolute;
  right: 0;
  top: 0;
}
.masthead .container .theme-toggle-container svg {
  color: white;
}

.main .masthead h1 {
  color: #FFFFFF;
  font-size: 42px;
  font-weight: 800;
  margin: 0 0 10px;
  padding: 0;
}

@media (min-width: 991.98px) {
  .masthead {
    padding: 70px 70px 160px;
  }
}
.homepage-content {
  padding: 0 70px;
  margin-top: -125px;
}
@media (max-width: 1024px) {
  .homepage-content {
    padding: 32px;
  }
}

.homepage-content__container {
  max-width: 1080px;
}

.bottom-of-page {
  padding: 1rem;
}

.masthead-cards-section {
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 16px;
  max-width: 1080px;
}
.masthead-cards-section.gray {
  background-color: var(--black-01);
}

.masthead-h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 30px */
  font-family: "trade-gothic-next", "Lato", "Helvetica Neue", "Arial", sans-serif;
  margin: 0 0 28px;
}

.masthead-cards {
  display: flex;
  gap: 20px;
}
.masthead-cards + .masthead-h2 {
  margin-top: 32px;
}
@media (max-width: 1280px) {
  .masthead-cards {
    flex-direction: column;
    gap: 40px;
  }
}

.masthead-card {
  color: inherit !important;
  display: flex;
  gap: 20px;
  flex-grow: 1;
  flex-basis: 0;
  text-decoration: none;
}
.masthead-card:hover .masthead-card__icon {
  transform: translateY(-10px);
}

.masthead-card__icon {
  flex: 0 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid var(--denim-01);
  background: #FFF;
  transition: all 0.3s ease-in-out;
}
.masthead-card__icon .dark {
  display: none;
}

.masthead-card__content {
  color: var(--black-05);
  font-size: 16px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.masthead-card__content h4 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}
.masthead-card__content p {
  font-weight: normal;
  margin: 0;
}
.masthead-card__content .link {
  text-decoration: none;
  font-weight: 700;
  color: var(--primary);
}

body:not([data-theme=light]) .masthead {
  background-color: var(--black-05);
}
body:not([data-theme=light]) .masthead-cards-section.gray {
  background: #24262B;
}
body:not([data-theme=light]) .masthead-card__icon {
  background: var(--black-05);
  border-color: var(--black-04);
}
body:not([data-theme=light]) .masthead-card__icon .dark {
  display: block;
}
body:not([data-theme=light]) .masthead-card__icon .light {
  display: none;
}
body:not([data-theme=light]) .masthead-card__content {
  color: rgba(255, 255, 255, 0.8);
}
body:not([data-theme=light]) .masthead-card__content .link {
  color: var(--primary);
}

/* Thermometer */
.c-thermometer {
  padding: 2rem 0 0;
  display: block;
  width: 270px;
  text-align: center;
  float: right;
  font-size: 14px;
}

.c-thermometer__trigger:hover {
  filter: grayscale(0);
}

.c-thermometer__popup p {
  margin: 0 2rem;
}

.c-thermometer .c-thermometer__paragraph {
  margin-bottom: 1rem;
}

.c-thermometer__close {
  cursor: pointer;
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 1.4rem;
  right: 0.4rem;
  top: 0.4rem;
}

.c-thermometer__close:hover {
  color: #444;
}

.c-thermometer__emojis {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-thermometer__emojis p {
  margin: 0;
  font-size: inherit;
}

.c-thermometer__emoji {
  font-size: 28px;
}

.c-thermometer__emojis a {
  z-index: 2;
  position: relative;
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  filter: grayscale(100%);
  flex: 1;
}

.c-thermometer__emojis a:hover, .c-thermometer__emojis a.selected {
  color: inherit;
  filter: grayscale(0);
}

/* Thermometer ends */
/* Thermometer group */
.c-thermometer__group {
  display: block;
  position: relative;
}

/* Thermometer group ends */
/* Thermometer Modal */
.c-thermometer-modal__container {
  display: block;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
}

.c-thermometer-modal__container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 24px;
}

.c-thermometer-modal__content {
  background: var(--color-background-primary);
  border-radius: 10px;
  padding: 24px;
  max-width: 368px;
  width: 100%;
}

.c-thermometer-modal__content h3 {
  margin-bottom: 12px;
}

.c-thermometer-modal__textarea-footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 24px;
}

.c-thermometer-modal__textarea__error {
  color: #FD5960;
  display: none;
}

.c-thermometer-modal__counter {
  text-align: right;
}

.c-thermometer-modal__content p {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 1rem;
}

.c-thermometer-modal__content textarea {
  border-radius: 4px;
  height: 142px;
  padding: 14px;
  font-size: 16px;
  resize: none;
  border: 1px solid #797979;
  background-color: transparent;
  box-shadow: none;
  width: 100%;
}

.c-thermometer-modal__content textarea:focus {
  border-color: #166DE0;
}

.c-thermometer-modal__footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.c-thermometer-modal__footer .btn {
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: var(--primary);
  background: transparent;
  border: 1px solid currentColor;
}

.c-thermometer-modal__footer .btn-primary {
  background-color: var(--primary);
  color: white;
  margin-left: 20px;
}

body:not([data-theme=light]) .c-thermometer-modal__footer .btn {
  color: var(--primary);
}
body:not([data-theme=light]) .c-thermometer-modal__footer .btn-primary {
  background: var(--primary);
  color: black;
}

.c-thermometer-modal__footer .btn-primary:hover, .c-thermometer-modal__footer .btn-primary:focus, .c-thermometer-modal__footer .btn-primary:active {
  background: #135dbe;
}

/* Thermometer Modal Ends */
/* Thermometer Confirmation Popup */
.c-thermometer-popup {
  border-radius: 8px;
  border: 1px solid var(--color-foreground-border);
  box-shadow: 0 4px 6px var(--color-background-border);
  padding: 16px 0 24px;
  margin: 2rem 0 0;
  display: none;
  text-align: center;
  width: 270px;
  background: var(--color-sidebar-background);
  position: absolute;
  right: 0;
  z-index: 9;
}

.c-thermometer-popup h5 {
  font-size: 14px;
  margin: 8px 0;
}

.c-thermometer-popup p {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

.c-thermometer-popup__close {
  position: absolute;
  width: 24px;
  height: 24px;
  color: var(--color-foreground-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  right: 8px;
  top: 8px;
  font-size: 22px;
  cursor: pointer;
}

/* Thermometer Confirmation Popup Ends */
@media (max-width: 1024px) {
  .c-thermometer {
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .c-thermometer__trigger {
    width: 270px;
  }

  .c-thermometer-popup {
    max-width: 100%;
    width: 100%;
    top: 20px;
  }
}
body {
  overflow: hidden;
}
body.with-notification .page {
  padding-top: 115px;
}
body.with-notification header {
  top: 45px;
}

.page {
  height: 100%;
  padding-top: 75px;
  overflow: hidden;
}
.page .main {
  height: 100%;
  overflow: auto;
}

a {
  color: var(--primary);
}

.homepage .content {
  padding: 0;
  width: 100%;
}

.main h1 {
  margin-top: 48px;
}

.theme-toggle {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.theme-toggle:hover {
  background: rgba(var(--denim), 0.2);
}

@media (max-width: 67em) {
  .theme-toggle-header {
    display: flex;
    padding: 0;
    height: 48px;
    width: 48px;
    align-items: center;
    justify-content: center;
  }
}
.content-icon-container {
  margin-top: 48px;
}

.subhead {
  color: var(--sidebar-text-80, rgba(255, 255, 255, 0.8));
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  margin-top: 0;
}

body:not([data-theme=light]) a {
  color: var(--primary);
}

/*# sourceMappingURL=homepage-v1.css.map */
