.homepage .content {
    padding: 0;
    width: 100%;
}

.masthead {
    background-color: var(--denim);
    font-family: "trade-gothic-next","Lato","Helvetica Neue","Arial",sans-serif;
    padding: 40px 30px;
}

@media (min-width:991.98px) {
    .masthead {
        padding: 70px;
    }
}

@media (prefers-color-scheme: dark) {
    .masthead {
        background-color: var(--black-04);
    }
}

.masthead h1 {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 0;
}

.subhead {
    color: var(--sidebar-text-80, rgba(255, 255, 255, 0.80));
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    margin-top: 0;
}