@import "partials/_variables";
@import "partials/_header";
@import "partials/_sidebar";
@import "partials/_blog";
@import "partials/_masthead";
@import "partials/_thermometer";
@import "partials/_badge";

body {
    &.with-notification {
        .toc-sticky, .main > .content, .sidebar-sticky {
            padding-top: 115px;
        }

        header {
            top: 45px;
        }
    }
}

.toc-sticky, .main > .content, .sidebar-sticky {
    padding-top: 75px;
}

.page {
    .main {
        display: flex;

        .content {
            width: auto;
            min-width: 0;
        }

        .toc-drawer {
            flex: 0 0 300px;
        }
    }
}

a {
    color: var(--primary);
}

.homepage .content {
    padding: 0;
    width: 100%;
}

.main {
    h1 {
        margin-top: 48px;
    }
}

.theme-toggle {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    &:hover {
        background: rgba(var(--denim), 0.2);
    }
}

@media (max-width: 67em) {
    .theme-toggle-header {
        display: flex;
        padding: 0;
        height: 48px;
        width: 48px;
        align-items: center;
        justify-content: center;
    }
}

.content-icon-container {
    margin-top: 48px;
    align-items: center;
}



.subhead {
    color: var(--sidebar-text-80, rgba(255, 255, 255, 0.80));
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    margin-top: 0;
}


body:not([data-theme="light"]) {
    a {
        color: var(--primary);
    }
}
