/* Redesign 2021 - Fonts */
@import url("https://use.typekit.net/hzs0pdc.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Variables */
:root {
	--center-channel-text-64: rgba(61, 60, 64, 0.64);
	--center-channel-text: rgba(61, 60, 64, 1);
	--neutral-50: #F4F4F6;
	--neutral-100: #E8E9ED;
	--neutral-600: #767D93;
	--neutral-950: #363A45;
}

/* Pygment CSS transfer to reduce CSS assets */
pre {
	line-height: 125%;
}

td.linenos .normal {
	color: inherit;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 5px;
}

span.linenos {
	color: inherit;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 5px;
}

td.linenos .special {
	color: #000000;
	background-color: #ffffc0;
	padding-left: 5px;
	padding-right: 5px;
}

span.linenos.special {
	color: #000000;
	background-color: #ffffc0;
	padding-left: 5px;
	padding-right: 5px;
}

.highlight .hll {
	background-color: #ffffcc
}

.highlight {
	background: #eeffcc;
}

.highlight .c {
	color: #408090;
	font-style: italic
}

/* Comment */
.highlight .err {
	border: 1px solid #FF0000
}

/* Error */
.highlight .k {
	color: #007020;
	font-weight: bold
}

/* Keyword */
.highlight .o {
	color: #666666
}

/* Operator */
.highlight .ch {
	color: #408090;
	font-style: italic
}

/* Comment.Hashbang */
.highlight .cm {
	color: #408090;
	font-style: italic
}

/* Comment.Multiline */
.highlight .cp {
	color: #007020
}

/* Comment.Preproc */
.highlight .cpf {
	color: #408090;
	font-style: italic
}

/* Comment.PreprocFile */
.highlight .c1 {
	color: #408090;
	font-style: italic
}

/* Comment.Single */
.highlight .cs {
	color: #408090;
	background-color: #fff0f0
}

/* Comment.Special */
.highlight .gd {
	color: #A00000
}

/* Generic.Deleted */
.highlight .ge {
	font-style: italic
}

/* Generic.Emph */
.highlight .gr {
	color: #FF0000
}

/* Generic.Error */
.highlight .gh {
	color: #000080;
	font-weight: bold
}

/* Generic.Heading */
.highlight .gi {
	color: #00A000
}

/* Generic.Inserted */
.highlight .go {
	color: #333333
}

/* Generic.Output */
.highlight .gp {
	color: #c65d09;
	font-weight: bold
}

/* Generic.Prompt */
.highlight .gs {
	font-weight: bold
}

/* Generic.Strong */
.highlight .gu {
	color: #800080;
	font-weight: bold
}

/* Generic.Subheading */
.highlight .gt {
	color: #0044DD
}

/* Generic.Traceback */
.highlight .kc {
	color: #007020;
	font-weight: bold
}

/* Keyword.Constant */
.highlight .kd {
	color: #007020;
	font-weight: bold
}

/* Keyword.Declaration */
.highlight .kn {
	color: #007020;
	font-weight: bold
}

/* Keyword.Namespace */
.highlight .kp {
	color: #007020
}

/* Keyword.Pseudo */
.highlight .kr {
	color: #007020;
	font-weight: bold
}

/* Keyword.Reserved */
.highlight .kt {
	color: #902000
}

/* Keyword.Type */
.highlight .m {
	color: #208050
}

/* Literal.Number */
.highlight .s {
	color: #4070a0
}

/* Literal.String */
.highlight .na {
	color: #4070a0
}

/* Name.Attribute */
.highlight .nb {
	color: #007020
}

/* Name.Builtin */
.highlight .nc {
	color: #0e84b5;
	font-weight: bold
}

/* Name.Class */
.highlight .no {
	color: #60add5
}

/* Name.Constant */
.highlight .nd {
	color: #555555;
	font-weight: bold
}

/* Name.Decorator */
.highlight .ni {
	color: #d55537;
	font-weight: bold
}

/* Name.Entity */
.highlight .ne {
	color: #007020
}

/* Name.Exception */
.highlight .nf {
	color: #06287e
}

/* Name.Function */
.highlight .nl {
	color: #002070;
	font-weight: bold
}

/* Name.Label */
.highlight .nn {
	color: #0e84b5;
	font-weight: bold
}

/* Name.Namespace */
.highlight .nt {
	color: #062873;
	font-weight: bold
}

/* Name.Tag */
.highlight .nv {
	color: #bb60d5
}

/* Name.Variable */
.highlight .ow {
	color: #007020;
	font-weight: bold
}

/* Operator.Word */
.highlight .w {
	color: #bbbbbb
}

/* Text.Whitespace */
.highlight .mb {
	color: #208050
}

/* Literal.Number.Bin */
.highlight .mf {
	color: #208050
}

/* Literal.Number.Float */
.highlight .mh {
	color: #208050
}

/* Literal.Number.Hex */
.highlight .mi {
	color: #208050
}

/* Literal.Number.Integer */
.highlight .mo {
	color: #208050
}

/* Literal.Number.Oct */
.highlight .sa {
	color: #4070a0
}

/* Literal.String.Affix */
.highlight .sb {
	color: #4070a0
}

/* Literal.String.Backtick */
.highlight .sc {
	color: #4070a0
}

/* Literal.String.Char */
.highlight .dl {
	color: #4070a0
}

/* Literal.String.Delimiter */
.highlight .sd {
	color: #4070a0;
	font-style: italic
}

/* Literal.String.Doc */
.highlight .s2 {
	color: #4070a0
}

/* Literal.String.Double */
.highlight .se {
	color: #4070a0;
	font-weight: bold
}

/* Literal.String.Escape */
.highlight .sh {
	color: #4070a0
}

/* Literal.String.Heredoc */
.highlight .si {
	color: #70a0d0;
	font-style: italic
}

/* Literal.String.Interpol */
.highlight .sx {
	color: #c65d09
}

/* Literal.String.Other */
.highlight .sr {
	color: #235388
}

/* Literal.String.Regex */
.highlight .s1 {
	color: #4070a0
}

/* Literal.String.Single */
.highlight .ss {
	color: #517918
}

/* Literal.String.Symbol */
.highlight .bp {
	color: #007020
}

/* Name.Builtin.Pseudo */
.highlight .fm {
	color: #06287e
}

/* Name.Function.Magic */
.highlight .vc {
	color: #bb60d5
}

/* Name.Variable.Class */
.highlight .vg {
	color: #bb60d5
}

/* Name.Variable.Global */
.highlight .vi {
	color: #bb60d5
}

/* Name.Variable.Instance */
.highlight .vm {
	color: #bb60d5
}

/* Name.Variable.Magic */
.highlight .il {
	color: #208050
}

/* Literal.Number.Integer.Long */
/* End Pygment */


@media screen and (min-width: 1400px) {
	.wy-nav-content {
		height: auto;
		max-width: 100%;
	}
}

html,
body {
	height: 100%;
	overflow: hidden;
}

.pointer-events-none {
	pointer-events: none;
}

iframe {
	max-width: 100%;
}

/* Thermometer */
.c-thermometer {
	padding: 2rem 0 0;
	display: block;
	width: 270px;
	text-align: center;
	position: absolute;
	right: -2rem;
	top: 0;
	border-radius: 20px;
	font-size: 14px;
}

.c-thermometer__trigger:hover {
	filter: grayscale(0);
}

.c-thermometer__popup p {
	margin: 0 2rem;
}

.c-thermometer .c-thermometer__paragraph {
	margin-bottom: 1rem;
	color: var(--center-channel-text-64);
}

.c-thermometer__close {
	cursor: pointer;
	position: absolute;
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #999;
	font-size: 1.4rem;
	right: 0.4rem;
	top: 0.4rem;
}

.c-thermometer__close:hover {
	color: #444;
}

.c-thermometer__emojis {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.c-thermometer__emojis p {
	margin: 0;
	font-size: inherit;
	color: var(--center-channel-text-64);
}

.c-thermometer__emoji {
	font-size: 28px;
}

.c-thermometer__emojis a {
	z-index: 2;
	position: relative;
	color: inherit;
	text-decoration: none;
	transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	filter: grayscale(100%);
	flex: 1;
}

.c-thermometer__emojis a:hover,
.c-thermometer__emojis a.selected {
	color: inherit;
	filter: grayscale(0);
}

/* Thermometer ends */

/* Thermometer Modal */

.c-thermometer-modal__container {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: rgb(0 0 0 / 50%);
}

.c-thermometer-modal__container>div {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0 24px;
}

.c-thermometer-modal__content {
	background: #fff;
	border-radius: 10px;
	padding: 24px;
	max-width: 368px;
	width: 100%;
}

.c-thermometer-modal__content h3 {
	color: var(--center-channel-text);
	margin-bottom: 12px;
}

.c-thermometer-modal__textarea-footer {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	line-height: 24px;
}

.c-thermometer-modal__textarea__error {
	color: #FD5960;
	display: none;
}

.c-thermometer-modal__counter {
	color: var(--center-channel-text-64);
	text-align: right;
}

.c-thermometer-modal__content p {
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 1rem;
	color: var(--center-channel-text-64);
}

.c-thermometer-modal__content textarea {
	border-radius: 4px;
	height: 142px;
	padding: 14px;
	font-size: 16px;
	resize: none;
	border: 1px solid rgba(61, 60, 64, 0.16);
	box-shadow: none;
}


.c-thermometer-modal__content textarea:focus {
	border-color: #166DE0;
}

.c-thermometer-modal__footer {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.c-thermometer-modal__footer .btn {
	border-radius: 4px;
	height: 40px;
	padding: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 14px;
	border: none;
}

.c-thermometer-modal__footer .btn-primary {
	background: #166DE0;
}

.c-thermometer-modal__footer .btn-primary:hover,
.c-thermometer-modal__footer .btn-primary:focus,
.c-thermometer-modal__footer .btn-primary:active {
	background: rgb(19, 93, 190);
}

/* Thermometer Modal Ends */

/* Thermometer Confirmation Popup */

.c-thermometer-popup {
	border-radius: 8px;
	border: 1px solid rgba(61, 60, 64, 0.08);
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
	padding: 16px 40px 24px;
	display: none;
	text-align: center;
	max-width: 210px;
	position: absolute;
	right: 0;
	top: -120px;
	background: white;
	z-index: 9;
}

.c-thermometer-popup h5 {
	font-size: 14px;
	margin: 8px 0;
	color: var(--center-channel-text);
}

.c-thermometer-popup p {
	font-size: 12px;
	line-height: 1.5;
	text-align: center;
	margin: 0;
}

.c-thermometer-popup__close {
	position: absolute;
	width: 24px;
	height: 24px;
	color: rgba(61, 60, 64, 0.72);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	right: 8px;
	top: 8px;
	font-size: 22px;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: 300;
}

.c-thermometer-popup__close:hover {
	color: var(--center-channel-text);
}

/* Thermometer Confirmation Popup Ends */

footer:not(.site-footer) {
	position: relative;
	border-top: 1px solid #dedede;
	margin-top: 24px;
	padding: 24px 0 40px;
	line-height: 150%;
	font-size: 14px;
}

footer:not(.site-footer) p {
	line-height: 150%;
	font-size: 14px;
}

.rst-footer-buttons {
	padding-bottom: 16px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}

.rst-footer-buttons a:last-child {
	margin-right: 16px;
}

footer hr {
	display: none;
}

@media (max-width: 1024px) {
	footer {
		padding: 160px 0 20px;
	}

	.c-thermometer {
		width: 100%;
		left: 0;
		display: flex;
		justify-content: center;
		position: relative;
	}

	.c-thermometer__trigger {
		width: 270px;
	}

	.c-thermometer-popup {
		max-width: 100%;
		width: 100%;
		top: 20px;
	}
}



.features__table {
	margin-bottom: 50px;
}

.features__table td {
	padding: 10px 20px;
	width: 50%;
}

.features__table img {
	width: 100%;
}

.features__table p {
	font-size: 15px;
	line-height: 1.5;
	margin-top: 10px;
	opacity: .7;
}

.features__table h4 {
	margin-bottom: 10px;
	font-size: 17px;
	color: #555;
}

.rst-versions .rst-other-versions {
	color: rgba(255, 255, 255, 0.6);
	display: none;
	font-size: 90%;
	padding: 12px;
}

.rst-versions .rst-current-version {
	background-color: rgba(255, 255, 255, 0.1);
	color: #fff;
	text-transform: uppercase;
}

.rst-versions {
	background: #404040 none repeat scroll 0 0;
	border-style: none;
	/* removes the underlying theme's top border */
}

.rst-versions .rst-current-version .fa-cog {
	float: left;
}

.rst-versions.shift-up .rst-current-version .fa.fa-angle-up:before {
	/* converts to angle-down when the .shift-up class is applied (e.g. the options pane is visible) */
	content: "\f107";
}

.rst-content tt.literal,
.rst-content tt.literal,
.rst-content code.literal {
	color: #151515;
	background: #EEEEEE;
}

.rst-content .heading-link h4 {
	font-size: 105%;
}

.rst-content li>*:not(.first).admonition {
	margin-top: 12px;
	margin-bottom: 12px;
}

.rst-content li>img:not(.first) {
	margin-bottom: 12px;
}

.wy-grid-for-nav {
	padding-top: 70px;
}

.rst-versions {
	width: 350px;
}

.wy-nav-content {
	height: auto;
	width: 100%;
	max-width: 100%;
	padding-top: 26px;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
	padding-left: 4rem;
	border: none;
}

.wy-table td,
.rst-content table.docutils td,
.rst-content table.field-list td {
	vertical-align: top;
}

.wy-nav-content .document {
	max-width: 1000px;
}

.wy-menu-vertical>ul.current {
	display: block;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3.current>a {
	background: #E0E0E0;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4.current>a {
	background: #cacaca;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
	font-weight: bold;
	font-size: 0.95em;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
	background: transparent;
	padding-right: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a code {
	font-size: 1em;
	font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
	background: transparent;
	border: none;
	font-size: 1em;
}

.wy-menu-vertical li.toctree-l2.current>a {
	background: #E0E0E0;
	border-color: #ddd;
	border-top: none;
}

.wy-menu-vertical li a {
	white-space: nowrap;
}

.wy-menu-vertical li.on a,
.wy-menu-vertical li.current>a {
	border-bottom: 1px solid #ddd;
}

.wy-menu-vertical p.caption {
	color: #555;
	font-weight: bold;
	margin: 4px 0;
	height: 33px;
	background: #CACACA;
	cursor: pointer;
}

.wy-menu-vertical p.caption:first-child {
	margin-top: -6px;
	border-top: 0;
}

.rst-content tt,
.rst-content tt,
.rst-content code {
	white-space: normal;
}

.rst-content .line-block {
	margin-left: 0;
	line-height: 24px;
}

.rst-content .highlight>pre {
	line-height: 1.5;
}

.rst-content dl dt {
	margin-bottom: 5px;
	line-height: 24px;
}

.wy-nav-content-wrap {
	margin-left: 350px;
	height: 100%;
	overflow: auto;
}

h1,
h2,
.rst-content .toctree-wrapper p.caption,
h3,
h4,
h5,
h6,
legend {
	font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

.wy-menu-vertical a {
	color: #888;
	font-size: 15px;
}

.wy-menu-vertical li.current a {
	font-size: 14.5px;
	padding-left: 2em;
}

.wy-menu-vertical li.toctree-l2.current>a {
	padding-left: 2.4em;
}

.wy-menu-vertical li.toctree-l2 a {
	padding-left: 2.4em;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
	padding-left: 3.3em;
}

.wy-menu-vertical li.current {
	background: #ececec;
}

.wy-menu-vertical a:hover {
	background-color: #E7EFF5;
}

.wy-side-scroll {
	width: 100%;
}

.wy-menu-vertical {
	width: 100%;
	top: 130px;
	position: relative;
}

.wy-nav-side {
	width: 350px;
	border-right: 1px solid #ddd;
	background: #f9f9f9;
}

/* .wy-menu-vertical li.toctree-l1.current>a {
    border-top: none;
} */

.wy-side-nav-search {
	width: 350px;
	margin-top: 58px;
	border-right: 1px solid #ddd;
}

.wy-side-nav-search .icon,
.wy-side-nav-search .version {
	display: none;
}

.wy-body-for-nav {
	position: relative;
	width: 100%;
	height: 100%;
	background: transparent;
}

.wy-side-nav-search input[type=text] {
	border: 1px solid #ddd;
}

.wy-side-nav-search {
	background: #f9f9f9;
	position: fixed;
	padding: 20px 20px 15px;
	/* border-bottom: 1px solid #ddd;  */
	z-index: 10;
}

.search__icon {
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	padding: 0 20px;
	color: #1C58D9;
	position: relative;
}

@media screen and (min-width: 770px) {
	.search__icon {
		display: none;
	}
}

.search__icon span {
	font-family: "trade-gothic-next", "Lato", "Helvetica Neue", "Arial", sans-serif;
	font-size: 16px;
}

.search__icon:hover {
	color: #1E325C;
}

.wy-nav-top {
	background: #F5F5F5;
	padding: 0 10px;
	color: #222;
	border-bottom: 1px solid #ccc;
}

.wy-nav-top a {
	color: inherit;
}

.wy-nav-top i {
	color: #999;
	font-size: 20px;
	top: 14px;
	left: 5px;
	position: relative;
}

header .header__searchbar {
	display: none;
	float: left;
	padding: 0 5px 0 0;
}

@media (max-width: 768px) {
	.wy-nav-side {
		left: -350px;
	}

	header .links__icon {
		display: block;
	}

	.wy-nav-top {
		display: none;
	}

	.wy-side-nav-search {
		position: relative;
	}

	.wy-menu-vertical {
		top: 0;
	}

	.wy-nav-content-wrap {
		margin-left: 0;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}

	.wy-nav-content-wrap.shift {
		top: 70px;
	}

	header .search__icon {
		display: block;
		position: absolute;
		left: -5px;
		top: 0px;
		z-index: 10;
		padding: 20px;
	}

	/* header .header__container {
		text-align:center;
	}
	header .links__icon {
		display: block;
	}
	header .header__logo {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		float:none;
	}
	header .header__logo img {
		width: 176px;
	}
	header .header__links {
		border-bottom: 1px solid #ccc;
		display: none;
		background: #fff;
		line-height: 40px;
		padding: 0 15px 5px;
		width: 100%;
	}
	header .header__links li {
		float: none;
	}
	header .header__links li a {
		display: block;
		padding-left: 0;
	} */
	header .header__searchbar {
		border-bottom: 1px solid #ccc;
		display: none;
		background: #fff;
		line-height: 40px;
		padding: 15px;
		width: 100%;
	}

	header .header__searchbar input[type="text"] {
		width: 100%;
		border-radius: 50px;
		border: 1px solid #ddd;
		padding: 6px 12px;
	}

	header .header__searchbar input:focus {
		outline: none;
	}

	img {
		max-width: 100%;
		width: auto;
	}
}

@media screen and (min-width: 1400px) {
	.wy-nav-content-wrap {
		background: #fcfcfc;
		/* gets rid of the wony gray bottom of the page when viewed on a wide screen */
	}
}


/* override table width restrictions */
@media screen and (min-width: 767px) {

	.wy-table-responsive table td {
		/* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
		white-space: normal !important;
	}

	.wy-table-responsive {
		overflow: visible !important;
	}
}

@media print {

	body,
	div.wy-grid-for-nav,
	section.wy-nav-content-wrap {
		height: auto;
	}

	body {
		overflow: visible;
	}

	section.wy-nav-content-wrap {
		margin-left: 0px;
	}

	header {
		position: absolute;
	}

	.header__container> :not(.header__logo) {
		display: none;
	}

	div.c-thermometer__trigger {
		display: none;
	}
}

/* Notification Banner */

.notification-bar {
	color: #1B1D22;
	text-align: center;
	display: none;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 45px;
	background-color: #FFBC1F;
	position: fixed;
	z-index: 9999;
}

@media (max-width: 770px) {
	.notification-bar {
		text-align: left;
		/* TEMP FOR LONG COPY */
		height: 70px;
	}
}


.notification-bar.closed {
	display: none;
}

.notification-bar__content {
	padding: 0.5rem 3rem 0.5rem 1rem;
	font-family: "trade-gothic-next", "Lato", "Helvetica Neue", "Arial", sans-serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 1.2;
	width: 100%;
}

.notification-bar__content>div {
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	justify-content: center;
}

.notification-bar__wrapper {
	display: flex;
	align-items: center;
}

.notification-bar__content>div img {
	display: none;
}

.notification-bar a {
	color: #1B1D22;
}

.notification-bar__close {
	font-size: 36px;
	font-weight: 300;
	position: absolute;
	cursor: pointer;
	right: -5px;
	opacity: .3;
	top: 0;
	width: 64px;
	line-height: 35px;
}

@media (max-width: 770px) {
	.notification-bar__close {
		/* TEMP FOR LONG COPY */
		right: -25px;
		top: 10px;
	}
}

.notification-bar-hide:hover {
	opacity: .5;
}

.with-notification .wy-side-scroll {
	padding-top: 62px;
}

.with-notification .notification-bar {
	display: flex;
}

.with-notification header {
	top: 46px;
}

@media (max-width: 770px) {
	.with-notification header {
		/* TEMP FOR LONG COPY */
		top: 70px;
	}
}

.with-notification .wy-grid-for-nav {
	padding-top: 114px;
}

/* Redesign 2021 - BASE */
body {
	font-family: 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #363A45;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'trade-gothic-next', sans-serif;
	font-weight: 800;
}

.document p {
	line-height: 150%;
}

a,
.rst-content a:visited {
	color: #1C58D9;
}

a:hover {
	color: #1E325C;
}

pre {
	font-family: 'Fira Mono', 'Courier New', Courier, monospace;
}

/* Redesign 2021 - NAV */

.header__logo img {
	height: 40px !important;
	width: auto !important;
}

/* Redesign 2021 - SIDE MENU */

.wy-menu,
.wy-breadcrumbs,
.header__links {
	font-family: 'trade-gothic-next', sans-serif;
}

.wy-breadcrumbs li.wy-breadcrumbs-aside {
	display: block;
	float: none;
}

@media (max-width: 770px) {
	.wy-breadcrumbs li.wy-breadcrumbs-aside {
		margin-top: 20px;
	}

	.wy-breadcrumbs li.wy-breadcrumbs-aside .search__icon {
		padding: 0 20px 0 0;
	}
}

@media (min-width: 770px) {
	.wy-breadcrumbs li.wy-breadcrumbs-aside {
		float: right;
	}
}


.wy-menu-vertical a {
	color: #888;
}

.wy-menu>ul>li.current>a {
	font-weight: 800;
	font-size: 16px;
	line-height: 152.7%;
}

/* Redesign 2021 - CONTENT */
.document ul,
.document ol {
	padding-left: 10px;
}

.document ul li,
.document ol li {
	margin-bottom: 5px;
}

/* Redesign 2021 - CODE BLOCKS */

.highlight {
	background-color: #eff4ff;
	/* background-color: #C5D2EC; */
}

/* Redesign 2021 - NOTE BLOCKS */
.document .admonition-title {
	background-color: #1E325C !important;
}

.document .admonition.note,
.document .admonition.tip {
	background-color: #EBEBEF !important;
}

.document .admonition.note p:not(.admonition-title) {
	padding-left: 15px;
	padding-right: 15px;
}

/* Redesign 2021 - HEADER */
*,
:after,
:before {
	box-sizing: border-box;
}

.nav-container {
	width: 100%;
	max-width: 1100px;
	margin-right: auto;
	margin-left: auto;
}

.site-header--not-home .nav-container {
	max-width: 1900px;
}

@media (max-width: 1199.98px) {
	.nav-container {
		padding: 0 40px;
	}
}

@media (max-width: 991.98px) {
	.nav-container {
		padding: 0 32px;
	}
}

@media (max-width: 767.98px) {
	.nav-container {
		padding: 0 24px;
	}

	div:not(.site-header--not-home) .nav-container .site-header__col--logo {
		padding-left: 50px;
	}
}

@media (min-width: 991.98px) {
	.notification-bar__content>div img {
		display: inline-block;
		margin-right: 10px;
		width: auto;
		height: 25px;
	}

	.site-header--not-home .nav-container {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media (min-width: 1400px) {
	.site-header--not-home .nav-container {
		padding-right: 20vw;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -24px;
	margin-left: -24px;
}

@media (max-width: 767.98px) {
	.row {
		margin-left: -24px;
		margin-right: -24px;
	}
}

.col,
.col-3,
.col-9,
.col-12,
.col-lg-2,
.col-lg-10,
.col-md-3,
.col-md-9 {
	position: relative;
	width: 100%;
	padding-right: 24px;
	padding-left: 24px;
}

.col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}

.col-3 {
	flex: 0 0 25%;
	max-width: 25%;
}

.col-9 {
	flex: 0 0 75%;
	max-width: 75%;
}

.col-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

@media (min-width: 768px) {
	.col-md-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-md-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}
}

@media (min-width: 992px) {
	.col-lg-2 {
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-lg-10 {
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
}

@media (max-width: 991.98px) {
	.nav-open header {
		position: fixed;
		height: 100vh;
		overflow-x: hidden;
	}

	.nav-open .site-header {
		bottom: 0;
		overflow-x: hidden;
	}

	.nav-open .site-header__col--menu {
		height: calc(100vh - 75px);
		overflow-y: scroll;
		overflow-x: hidden;
		padding-bottom: 100px;
	}
}

/* START NEW NAV */
.nav-open .site-header {
	bottom: 0;
	overflow-x: hidden;
}

.nav-open .site-header__col--menu {
	height: calc(100vh - 75px);
	overflow-y: scroll;
	overflow-x: hidden;
	padding-bottom: 100px;
}

.site-header {
	font-family: 'trade-gothic-next', sans-serif;
	background: #fff;
	box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 999;
}

.site-header__col--logo {
	display: flex;
	align-items: center;
	padding-left: 10px;
}

@media (max-width:991.98px) {
	.site-header__col--logo {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.site-header__col--logo img {
	width: 190px;
	max-width: none;
}

@media (min-width:992px) {
	.site-header__col--logo img {
		width: 150px;
	}
}

@media (min-width:1200px) {
	.site-header__col--logo img {
		width: 170px;
	}
}

@media (min-width:1600px) {
	.site-header__col--logo img {
		width: 190px;
	}
}

.site-header__col--menu .site-nav {
	display: none;
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav:before {
		content: "";
		position: absolute;
		left: -10px;
		overflow: hidden;
		top: 0;
		height: 2px;
		background-color: #ffbc1f;
		width: calc(100% + 20px);
	}
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav {
		display: flex;
	}
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu {
		opacity: 0;
		position: absolute;
	}
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav__toplink.is-active .toplink-wrapper {
		border-bottom: none;
	}
}

.site-header__col--menu .site-nav__toplink>a {
	color: #1b1d22;
	display: block;
	font-size: 24px;
	line-height: 1;
	padding: 0 24px;
	text-decoration: none;
	transition: color .3s ease-in-out;
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav__toplink>a {
		font-weight: 700;
		color: #1e325c;
	}

	.site-header__col--menu .site-nav__toplink>a .toplink-wrapper {
		padding: 40px 0;
		border-bottom: 1px solid #babec9;
	}
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__toplink>a {
		line-height: 150%;
		padding: 26px 10px;
		font-size: 14px;
	}
}

@media (min-width:1600px) {
	.site-header__col--menu .site-nav__toplink>a {
		font-size: 15px;
	}
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav__toplink>a span {
		float: right;
	}

	.site-header__col--menu .site-nav__toplink>a span svg {
		height: 18px;
		transform: rotate(-90deg);
		width: 26px;
	}

	.site-header__col--menu .site-nav__toplink>a span svg path {
		stroke: #1c58d9;
	}
}

.site-header__col--menu .site-nav__toplink>a span svg path {
	transition: stroke .3s ease-in-out;
}

.site-header__col--menu .site-nav__toplink>a:hover {
	color: #1c58d9;
}

.site-header__col--menu .site-nav__toplink>a:hover span svg path {
	stroke: #1c58d9;
}

.site-header__col--menu .site-nav__button {
	border-bottom: none;
	margin: 0 auto;
	max-width: 200px;
	padding-top: 12px;
}

.site-header__col--menu .site-nav__button a {
	font-size: 18px;
	padding: 20px 25px;
	border-width: 1px;
	transition: background-color .3s ease, color 0s ease;
	font-weight: 400;
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__button a {
		font-size: 13px;
		padding: 5px 10px;
		margin-top: 9px;
	}
}

@media (min-width:1200px) {
	.site-header__col--menu .site-nav__button a {
		font-size: 14px;
	}
}

@media (min-width:1600px) {
	.site-header__col--menu .site-nav__button a {
		font-size: 14px;
		padding: 5px 20px;
	}
}

.site-header__col--menu .site-nav__button a:focus,
.site-header__col--menu .site-nav__button a:hover {
	color: #fff;
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav__button {
		padding-bottom: 20px;
	}
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__button {
		padding-left: 15px;
	}
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav__button--secondary {
		padding: 0 0 40px;
		max-width: 250px;
	}

	.site-header__col--menu .site-nav__button--secondary a {
		padding: 20px 30px;
	}
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav__login {
		border-bottom: none;
		text-align: center;
	}

	.site-header__col--menu .site-nav__login a {
		padding-bottom: 20px;
		padding-top: 55px;
	}
}

@media (min-width:992px) {
	.site-header__col--menu {
		display: flex;
		justify-content: flex-end;
	}
}

.site-header__mobile-menu {
	padding-top: 20px;
	text-align: right;
}

@media (min-width:992px) {
	.site-header__mobile-menu {
		display: none;
	}
}

.site-header__mobile-menu .hamburger-close,
.site-header__mobile-menu.is-active .hamburger-open {
	display: none;
}

.site-header__mobile-menu.is-active .hamburger-close {
	display: inline;
}

.site-header .lower-nav {
	border-top: 1px solid #c5d2ec;
}

@media (max-width:991.98px) {
	.site-header .lower-nav .container {
		padding-right: 5px;
	}
}

.site-header .lower-nav ul {
	margin: 0;
	padding: 0;
}

@media (max-width:991.98px) {
	.site-header .lower-nav ul {
		width: 100%;
		overflow-x: scroll;
		display: flex;
	}
}

.site-header .lower-nav ul li {
	display: inline-block;
	margin-right: 20px;
}

@media (max-width:991.98px) {
	.site-header .lower-nav ul li {
		flex: 0 0 auto;
	}
}

@media (min-width:992px) {
	.site-header .lower-nav ul li {
		margin-right: 40px;
	}
}

.site-header .lower-nav ul a {
	display: inline-block;
	padding: 3px 0;
	text-decoration: none;
	font-size: 15px;
	border-bottom: 3px solid transparent;
	color: #5a6072;
}

.site-header .lower-nav ul a:hover {
	color: #1c58d9;
}

.site-header .lower-nav ul .current-menu-item a {
	border-bottom: 3px solid #ffbc1f;
}

@media (min-width:992px) {
	.masthead-trial-form {
		margin-top: 30px;
	}
}

/* NEW NAV DEFER */
.site-header__col--menu .site-nav.active {
	display: block;
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav__hassubnav:not(.is-active) .sub-menu {
		display: none !important;
	}

	.site-header__col--menu .site-nav__hassubnav.is-active>a svg {
		transform: rotate(0);
	}

	.site-header__col--menu .site-nav__hassubnav.is-active .sub-menu__developers .sub-menu__developers__main,
	.site-header__col--menu .site-nav__hassubnav.is-active .sub-menu__login .sub-menu__links,
	.site-header__col--menu .site-nav__hassubnav.is-active .sub-menu__solutions .sub-menu__solutions__main-wrapper {
		border-bottom: 1px solid #babec9;
		padding-bottom: 20px;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	pointer-events: none;
	z-index: 2;
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu {
		border-top: 2px solid #ffbc1f;
		box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
		flex-direction: row;
		right: 0;
		top: 73px;
		transition: opacity .15s ease-in-out;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__block {
	margin-bottom: 10px;
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__block {
		margin-right: 24px;
		margin-left: 24px;
	}
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__block {
		margin-bottom: 0;
		padding: 11px;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__block a {
	align-items: center;
	background-color: #ebebef;
	display: flex;
	flex-direction: row;
	padding: 21px 28px;
	text-decoration: none;
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__block a {
		flex-direction: column;
		justify-content: center;
		padding: 10px;
		transition: box-shadow .2s ease, background-color .2s ease;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__block a:focus,
	.site-header__col--menu .site-nav__hassubnav .sub-menu__block a:hover {
		background-color: #e8edf8;
	}
}

@media (min-width:768px) and (max-width:1199.98px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__block a {
		width: 14px;
		height: 14px;
	}
}

@media (min-width:1200px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__block a {
		min-width: 161px;
		padding: 21px;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__block--wrapper {
	display: flex;
	flex-direction: row;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__block--icon {
	align-items: center;
	display: flex;
	height: 64px;
}

@media (min-width:768px) and (max-width:1199.98px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__block--icon {
		height: 45px;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__block--icon img {
		height: 40px !important;
		width: auto !important;
	}
}

@media (min-width:1200px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__block--icon {
		height: 64px;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__block--text {
	display: flex;
	flex-direction: column;
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__block--text {
		margin-left: 30px;
	}
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__block--text {
		text-align: center;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__block--text_title {
	color: #1b1d22;
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__block--text_learnmore {
	color: #1c58d9;
	font-size: 12px;
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__links {
		margin-right: 24px;
		margin-left: 24px;
	}
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__links {
		align-items: flex-start;
		display: flex;
		padding-left: 40px;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__links:first-child {
		padding-left: 0;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__links ul {
	padding: 0;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__links--single {
	list-style-type: none;
	margin-bottom: 25px;
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__links--single {
		margin-bottom: 30px;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__links--single a {
	align-items: center;
	color: #1b1d22;
	display: flex;
	font-size: 18px;
	line-height: 150%;
	text-decoration: none;
	transition: color .3s ease-in-out;
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__links--single a {
		font-size: 15px;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__links--single a:focus,
.site-header__col--menu .site-nav__hassubnav .sub-menu__links--single a:hover {
	color: #1c58d9;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__links--icon {
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	width: 30px;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__promo {
	padding: 30px 24px;
	background: #e2e8f5;
	margin-bottom: 0;
}

@media (min-width:1200px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__promo {
		padding: 40px 35px 30px;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-heading,
.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-subhead {
	font-size: 15px;
	line-height: 1.5;
	margin: 0;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-heading {
	text-transform: uppercase;
	color: #2c4987;
	font-weight: 700;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-subhead {
	color: #5a6072;
	margin-bottom: 20px;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-block {
	text-decoration: none;
	display: flex;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-block:last-child {
	margin-top: 15px;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-block:hover {
	box-shadow: 0 0 15px #b7c6e5;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-block:hover .promo-block__copy {
	color: #1e325c;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-block--large {
	margin-top: 20px;
	position: relative;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-block--large .promo-block__copy {
	padding: 0 10px 0 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-block--large .promo-block__copy {
		min-width: 190px;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-block--large .promo-corner-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 14px;
	height: auto;
}

@media (max-width:767.98px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-block--large .promo-block__image img {
		height: 100px;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-block__image img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 95px;
	max-width: none;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-block__copy {
	font-size: 13px;
	color: #1c58d9;
	line-height: 150%;
	font-weight: 700;
	background: #fff;
	display: flex;
	align-items: center;
	padding: 0 10px 0 20px;
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-block__copy {
		width: 100%;
	}
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-block__copy {
		justify-content: center;
		min-width: 160px;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__promo .promo-block__eyebrow {
	font-size: 12px;
	color: #5a6072;
	margin-bottom: 5px;
	font-weight: 400;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu .sub-menu--sm-hidden {
	display: none;
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu .sub-menu--sm-visible {
		display: none;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu .sub-menu--sm-hidden {
		display: block;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu .sub-menu__header {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #c5d2ec;
		padding-bottom: 10px;
		margin-bottom: 30px;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu .sub-menu__header>span {
		font-size: 24px;
		color: #2c4987;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu .sub-menu__header a {
		text-decoration: none;
		color: #1b1d22;
		font-size: 14px;
		display: flex;
		align-items: center;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu .sub-menu__header a:hover {
		color: #1c58d9;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu .sub-menu__header img {
		width: 20px;
		margin-left: 20px;
		margin-right: 10px;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu .sub-menu__link-col-header {
	font-size: 21px;
	color: #818698;
	font-weight: 700;
	text-transform: uppercase;
}

@media (min-width:768px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu .sub-menu__link-col-header {
		margin-bottom: 20px;
		margin-top: 0;
		font-size: 15px;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__products ul {
	padding: 0;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__products .sub-menu__links--single {
	margin-bottom: 0;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__products .sub-menu__links--single:not(:last-child) {
	margin-bottom: 20px;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__products .mobile-spacer {
	display: none;
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__products .sub-menu__products__main {
		padding: 0 24px;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__products .sub-menu__products__main>:first-child p {
		margin-top: 0;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__products .sub-menu__products__main>* {
		margin-bottom: 50px;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__products .mobile-spacer {
		display: block;
		margin: 0 24px;
		padding: 15px 0;
		border-bottom: 1px solid #babec9;
	}
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__products {
		right: 0;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__products .sub-menu__products__main {
		padding: 70px 80px 60px;
		display: grid;
		grid-template-columns: repeat(3, 150px);
		-moz-column-gap: 50px;
		column-gap: 50px;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__products .sub-menu__products-link-col-header {
		font-size: 15px;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions ul {
	padding: 0;
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions .sub-menu__link-col-header {
		display: none;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions .sub-menu__solutions__main-wrapper {
		margin: 0 24px;
	}
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions {
		right: unset;
		margin-left: -50px;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions .sub-menu__links--single {
		margin-bottom: 0;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions .sub-menu__links--single:not(:last-child) {
		margin-bottom: 20px;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions .sub-menu__solutions__main {
		padding: 0 !important;
		display: block !important;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions .sub-menu__solutions__main .sub-menu__solution__main-links {
		display: flex;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions .sub-menu__solutions__main-wrapper {
		padding: 40px 60px;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__developers ul {
	padding: 0;
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__developers .sub-menu__developers__main {
		margin: 0 24px;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__developers .sub-menu__link-col-header {
		display: none;
	}
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__developers {
		right: unset;
		margin-left: -130px;
		padding: 50px 60px 20px;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__developers .sub-menu__developers-grid-wrapper {
		display: grid;
		grid-template-columns: 75px 95px;
		-moz-column-gap: 70px;
		column-gap: 70px
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__login ul {
	padding: 0;
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__login .sub-menu__link-col-header {
		display: none;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__login .sub-menu__links-wrapper {
		margin: 0 24px;
	}
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__login {
		right: unset;
		margin-left: -40px;
		padding: 50px 60px 20px;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__col {
	display: flex;
	flex-wrap: wrap;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__col .sub-menu__links:first-of-type {
	padding-left: 0;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__col--title {
	color: #818698;
	display: block;
	font-size: 15px;
	font-weight: 700;
	line-height: 150%;
	margin-top: 0;
	flex: 0 0 100%;
}

@media (max-width:991.98px) {
	.site-header__col--menu {
		padding: 0;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__col--title {
		margin-bottom: 0;
		padding-left: 20px;
	}
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__col--title {
		margin-bottom: 20px;
	}
}

@media (max-width:991.98px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__col {
		padding-bottom: 70px;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__col:last-child {
		padding-bottom: 20px;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__bar {
	display: none;
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu__bar {
		bottom: 0;
		display: block;
		left: 0;
		position: absolute;
		width: 100%;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__bar a {
		background-color: #1c58d9;
		color: #fff;
		display: block;
		font-size: 15px;
		font-weight: 700;
		line-height: 150%;
		padding: 7px 41px;
		text-align: left;
		text-decoration: none;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__bar a:hover {
		background-color: #043cb5;
	}
}

@media (min-width:992px) {
	.site-header__col--menu .site-nav__hassubnav .sub-menu .sub-menu__promo {
		padding-top: 73px;
	}
}

.site-header__col--menu .site-nav__hassubnav:hover .sub-menu {
	opacity: 1;
	pointer-events: auto;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu:focus-within {
	opacity: 1;
	pointer-events: auto;
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__platform-mobile,
.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions-mobile {
	display: flex;
}

@media (min-width:992px) {

	.site-header__col--menu .site-nav__hassubnav .sub-menu__platform-mobile,
	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions-mobile {
		display: none !important;
	}
}

.site-header__col--menu .site-nav__hassubnav .sub-menu__platform-desktop,
.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions-desktop {
	display: none;
}

@media (min-width:992px) {

	.site-header__col--menu .site-nav__hassubnav .sub-menu__platform-desktop,
	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions-desktop {
		padding: 60px 0;
		border-right: 1px solid #c5d2ec;
		display: block;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__platform-desktop .sub-menu__platform-desktop-wrapper,
	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions-desktop .sub-menu__platform-desktop-wrapper {
		min-width: 170px;
		margin-right: 20px;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__platform-desktop .sub-menu__solutions-desktop-wrapper,
	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions-desktop .sub-menu__solutions-desktop-wrapper {
		min-width: 230px;
		margin-right: 20px;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__platform-desktop .sub-menu__header-title,
	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions-desktop .sub-menu__header-title {
		font-size: 24px;
		color: #1b1d22;
		font-weight: 700;
		margin: 0;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__platform-desktop .sub-menu__body-copy,
	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions-desktop .sub-menu__body-copy {
		font-size: 15px;
		line-height: 150%;
		color: #1b1d22;
		margin-bottom: 10px;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__platform-desktop a,
	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions-desktop a {
		color: #1c58d9 !important;
		font-size: 12px !important;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__platform-desktop a:hover,
	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions-desktop a:hover {
		color: #1e325c;
	}
}

@media (min-width:1200px) {

	.site-header__col--menu .site-nav__hassubnav .sub-menu__platform-desktop .sub-menu__platform-desktop-wrapper,
	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions-desktop .sub-menu__platform-desktop-wrapper {
		margin-right: 110px;
	}

	.site-header__col--menu .site-nav__hassubnav .sub-menu__platform-desktop .sub-menu__solutions-desktop-wrapper,
	.site-header__col--menu .site-nav__hassubnav .sub-menu__solutions-desktop .sub-menu__solutions-desktop-wrapper {
		margin-right: 60px;
	}
}

@media (max-width:991.98px) {
	.site-header .sub-menu__links+.sub-menu__links {
		padding-top: 0;
	}

	.site-header .site-nav__toplink:first-child .sub-menu__links .sub-menu__links--single:last-child {
		margin-bottom: 0;
	}

	.site-header .site-nav__button:not(.site-nav__button--secondary) {
		padding-top: 40px;
	}
}

footer.site-footer {
	background: linear-gradient(180deg, rgba(19, 30, 57, .9), #1e325c 20%);
	padding: 50px 0;
}

@media (min-width:992px) {
	footer.site-footer {
		padding: 100px 0;
	}
}

.site-footer .site-footer__links {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.site-footer .site-footer__links .footer-link-list {
	margin-bottom: 40px;
}

@media (min-width:768px) {
	.site-footer .site-footer__links .footer-link-list {
		flex: 0 0 calc(33.33333% - 60px);
		max-width: calc(33.33333% - 60px);
		margin-bottom: 0;
	}
}

.site-footer .site-footer__links .footer-link-list:last-child {
	margin-bottom: 0;
}

.site-footer .site-footer__links .footer-link-list .footer-link-list__header {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.site-footer .site-footer__links .footer-link-list .footer-link-list__item {
	margin-bottom: 10px;
}

.site-footer .site-footer__links .footer-link-list .footer-link-list__item:last-child {
	margin-bottom: 0;
}

.site-footer .site-footer__links .footer-link-list .footer-link-list__item a {
	color: #e2e8f5;
	font-size: 14px;
	text-decoration: none;
}

.site-footer .site-footer__links .footer-link-list .footer-link-list__item a:hover {
	color: #fff;
}

.site-footer .site-footer__social {
	display: flex;
	align-items: center;
}

.site-footer .site-footer__social .social-link {
	margin-right: 10px;
}

.site-footer .site-footer__social .social-link:last-child {
	margin-right: 0;
}

.site-footer .site-footer__social .social-link a {
	color: #e2e8f5;
	font-size: 18px;
	text-decoration: none;
}

.site-footer .site-footer__social .social-link a:hover {
	color: #fff;
}

.site-footer .site-footer__legal {
	color: #e2e8f5;
	font-size: 14px;
	margin-top: 40px;
}

.site-footer .site-footer__legal a {
	color: #e2e8f5;
	text-decoration: underline;
}

.site-footer .site-footer__legal a:hover {
	color: #fff;
}


/* END NEW NAV */


.mm-button {
	display: inline-block;
	text-align: center;
	font-family: Fira Mono, monospace;
	font-weight: 700;
	border-radius: 30px;
	border: 3px solid transparent;
	cursor: pointer;
	background: transparent;
	font-size: 14px;
	line-height: 21px;
	padding: 11px 30px;
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

@media (min-width: 768px) {
	.mm-button {
		font-size: 17px;
		line-height: 25.5px;
		padding: 12px 35px;
	}
}

.mm-button.mm-button-solid.mm-button-blue {
	background-color: #1c58d9;
	border-color: #1c58d9;
	color: #fff;
}

@media (min-width: 768px) {

	.mm-button.mm-button-solid.mm-button-blue:focus,
	.mm-button.mm-button-solid.mm-button-blue:hover {
		background-color: #043cb5;
		border-color: #043cb5;
	}
}

.site-nav__button .mm-button {
	border-width: 1px !important;
	transition: none !important;
}

.mm-button-outline--thin.mm-button-outline--thin-blue {
	color: #043cb5 !important;
	border: 1px solid #043cb5;
}

@media (max-width: 767px) {

	.mm-button-outline--thin.mm-button-outline--thin-blue:hover,
	.mm-button-outline--thin.mm-button-outline--thin-blue:focus {
		color: #043cb5 !important;
	}
}

@media (min-width: 768px) {

	.mm-button-outline--thin.mm-button-outline--thin-blue:hover,
	.mm-button-outline--thin.mm-button-outline--thin-blue:focus {
		color: white !important;
		background-color: #043CB5;
		border: 1px solid #043CB5;
	}
}

/* Redesign 2021 - SEARCH */
#search-results .context {
	word-break: break-word;
}

kbd {
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.1em 0.5em;
	margin: 0 0.2em;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
	background-color: #f7f7f7;
}

/* Badges */
.mm-badge {
	display: inline-block;
	border: 1px solid #BABEC9;
	border-radius: 6px;
	padding: 14px;
	margin-bottom: 30px;
}

.mm-badge--academy {
	padding: 0;
	border: 1px solid var(--neutral-100, #E8E9ED);
	background: var(--neutral-50, #F4F4F6);
}

@media (max-width: 760px) {
	.mm-badge--academy {
		display: flex;
		align-items: center;
	}
}

.mm-badge--academy:hover {
	background: var(--neutral-100, #E8E9ED);
}

.mm-badge.mm-badge--academy img {
	height: 75px;
	width: auto;
	margin: 0 !important;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.mm-badge--academy span {
	display: block;
}

.mm-badge--academy > * {
	display: inline-block;
}

.mm-badge__copy {
	vertical-align: middle;
	padding: 0 16px;
}

.mm-badge__accent-text {
	color: var(--neutral-600, #767D93);
	font-size: 10px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	margin-bottom: 3px;
}

.mm-badge__title {
	color: var(--neutral-950, #363A45);
	font-family: 'trade-gothic-next', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	flex: 0 0 auto;
}

.mm-badge p,
.mm-badge ul {
	font-size: 12px;
	margin: 0;
}

@media (max-width: 760px) {
	.mm-badge ul {
		padding: 0;
	}
}

.mm-badge ul {
	margin-bottom: 0 !important;
}

.mm-badge ul li {
	line-height: 1.3;
	margin: 0;
}

.mm-badge h3 {
	font-size: 12px;
	font-weight: 700;
}

@media (min-width: 960px) {
	.mm-badge h3 {
		margin-bottom: 0;
	}
}

/* Version */

.mm-badge p:first-child {
	font-style: italic;
	margin-bottom: 5px;
}

.mm-badge p:last-child {
	margin-top: 2px;
}

.mm-badge a {
	font-weight: bold;
}

.mm-badge img {
	width: 16px;
	height: auto;
	margin-right: 5px;
}

.mm-badge.mm-badge--note {
	border: 1px solid rgba(255, 188, 31, 1);
	background-color: rgba(255, 212, 112, 0.25);
}

.mm-badge.mm-badge--note p:first-child {
	font-style: normal;
	font-weight: bold;
}

img.mm-badge-flag {
	width: 13px;
	margin-right: 3px;
}

.mm-badge.mm-badge--combo {
	padding: 15px;
}

@media (min-width: 960px) {
	.mm-badge.mm-badge--combo {
		display: flex;
	}
}

.mm-badge__plan-deploy {
	border-bottom: 1px solid #BABEC9;
	padding: 0px 0px 20px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 959px) {
	.mm-badge__plan-deploy p {
		width: 45%;
		margin-bottom: 0 !important;
	}
}

@media (min-width: 960px) {
	.mm-badge__plan-deploy {
		display: block;
		border-right: 1px solid #BABEC9;
		border-bottom: none;
		padding: 5px 15px 0px 0px;
	}

	.mm-badge__plan-deploy p:first-child {
		margin-right: 0px;
		margin-bottom: 5px;
	}
}

.mm-badge__reqs {
	padding: 20px 0px 0px 0px;
}

@media (min-width: 960px) {
	.mm-badge__reqs {
		display: flex;
		padding: 5px 0px 0px 15px;
	}
}

/* Config Settings */

.config-setting-result-item {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #e1e4e5;
	padding-bottom: 12px;
	padding-top: 12px;
}

.config-setting-result-item:first-child {
	border-top: 1px solid #e1e4e5;
}

.config-setting-result-item:last-child {
	border-top: 1px solid #e1e4e5;
	margin-bottom: 12px;
}

.config-setting-result-item_link {
	font-size: 120%;
	padding-bottom: 12px;
}

/* Config setting description highlighting for search results */
mark {
	background: #F1C40F;
	color: grey;
	font-size: 90%;
	font-weight: 700;
	box-shadow: 0 0 0 2px #F1C40F;
	font-style: unset;
}

/* Click to copy buttons */
.mm-code-copy {
	margin-top: 30px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column-reverse;
}

@media (min-width: 1000px) and (max-width: 1280px) {
	.mm-code-copy.mm-code-copy--long {
		display: grid;
		column-gap: 20px;
		grid-template-columns: 1fr 220px;
	}

	.mm-code-copy.mm-code-copy--long .mm-button {
		margin-left: 0px;
		line-height: 1.3;
	}
}

@media (min-width: 960px) {
	.mm-code-copy {
		flex-direction: row;
	}
}

.mm-code-copy__wrapper {
	position: relative;
	align-self: flex-start;
	max-width: 670px;
}

.mm-code-copy__copied-notice {
	font-size: 16px;
	text-align: center;
	color: #fff;
	background: #162645;
	padding: 10px 12px;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	position: absolute;
	right: calc(50% - 100px);
	z-index: 0;
	width: 200px;
	opacity: 0;
	visibility: hidden;
	transition: all .2s;
	font-family: trade-gothic-next, sans-serif;
	bottom: -40px;
}

.mm-code-copy__copied-notice.show {
	opacity: 1;
	visibility: visible;
	top: unset;
	bottom: -35px;
}

@media (min-width: 960px) {
	.mm-code-copy__copied-notice {
		/* top: 50px; */
	}

	.mm-code-copy__copied-notice.show {
		/* top: 54px; */
		/* bottom: unset; */
	}
}

.install-hidden-field {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	border: none;
	opacity: 0;
}

.mm-code-copy code {
	background-color: #ECF0F9 !important;
	border-radius: 5px;
	padding: 18px 10px;
	border: none !important;
	color: #1C58D9 !important;
	font-size: 13px !important;
	font-family: Fira Mono, monospace !important;
	display: inline-block;
}

.mm-code-copy code:hover {
	cursor: pointer;
}

@media (min-width: 1400px) {
	.mm-code-copy code {
		padding: 18px;
		font-size: 15px !important;
	}
}

.mm-code-copy button.mm-button {
	font-size: 13px;
	background-color: #4A69AB;
	display: flex;
	align-items: center;
	line-height: 1;
	padding: 13px 25px;
	align-self: flex-start;
	margin-bottom: 20px;
}

@media (min-width: 960px) {
	.mm-code-copy button.mm-button {
		margin-left: 20px;
		margin-bottom: 0px;
	}
}

@media (min-width: 1400px) {
	.mm-code-copy button.mm-button {
		padding: 15px 25px;
		font-size: 17px;
	}
}

.mm-code-copy button.mm-button:hover {
	background-color: #2C4987 !important;
}

.mm-code-copy button.mm-button svg {
	margin-right: 10px;
}

.mm-code-copy button.mm-button span {
	color: #ffffff;
	font-weight: 700;
}

/* mm-code-block */
.mm-code-block .highlight {
	background-color: #ECF0F9 !important;
	border-radius: 5px;
	padding: 18px 15px;
	border: none !important;
	display: inline-block;
}

@media (max-width: 720px) {
	.mm-code-block .highlight {
		width: 100%;
	}
}

@media (min-width: 1400px) {
	.mm-code-block .highlight {
		padding: 18px;
	}
}

.mm-code-block .highlight pre {
	color: #1C58D9 !important;
	font-family: Fira Mono, monospace !important;
	font-size: 13px !important;
	white-space: pre-line !important;
}

@media (min-width: 1400px) {
	.mm-code-block .highlight pre {
		font-size: 15px !important;
	}
}

.mm-code-block pre {
	padding: 0 !important;
}

.mm-code-block pre span {
	color: #1C58D9 !important;
}

/* Inline code for install-mattermost-omnibus */
/* Should be flooded across docs? */
#install-mattermost-omnibus p code,
#install-mattermost-omnibus h3 code,
#install-mattermost-server-using-the-tarball p code,
#install-mattermost-server-using-the-tarball h3 code,
#install-mattermost-server-on-ubuntu p code,
#install-mattermost-server-on-ubuntu h3 code,
#install-mattermost-on-rhel p code,
#install-mattermost-on-rhel h3 code {
    background-color: #ECF0F9 !important;
    color: #1C58D9 !important;
    font-family: Fira Mono, monospace !important;
    border: none;
    border-radius: 3px;
    font-size: 80%;
} 

@media (max-width: 959px) {

	#install-mattermost-omnibus p code,
	#install-mattermost-omnibus h3 code,
	#install-mattermost-server-using-the-tarball p code,
	#install-mattermost-server-using-the-tarball h3 code,
	#install-mattermost-server-on-ubuntu p code,
	#install-mattermost-server-on-ubuntu h3 code {
		word-break: break-all;
	}
}