<div class="c-thermometer">
    <div class="c-thermometer__content">
        <p>Is this page helpful?</p>
        <div class="c-thermometer__emojis">
            <a class="c-thermometer__emoji" target="_blank" href="https://app.customerthermometer.com/?template=log_feedback&hash=f6089489&embed_data=dGVtcGVyYXR1cmVfaWQ9MSZ0aGVybW9tZXRlcl9pZD05MjI5NiZucHNfcmF0aW5nPS0x&e=&f=&l=&c=&c1=&c2=&c3=&c4=&c5=&c6=&c7=&c8=&c9=&c10=" data-href="https://app.customerthermometer.com/?template=log_feedback&hash=f6089489&embed_data=dGVtcGVyYXR1cmVfaWQ9MSZ0aGVybW9tZXRlcl9pZD05MjI5NiZucHNfcmF0aW5nPS0x&e=&f=&l=&c=&c1=&c2=&c3=&c4=&c5=&c6=&c7=&c8=&c9=&c10=">
                <span class="c-thermometer__icon">😀</span>
                <p>Excellent</p>
            </a>
            <a class="c-thermometer__emoji" target="_blank" href="https://app.customerthermometer.com/?template=log_feedback&hash=504c3166&embed_data=dGVtcGVyYXR1cmVfaWQ9MiZ0aGVybW9tZXRlcl9pZD05MjI5NiZucHNfcmF0aW5nPS0x&e=&f=&l=&c=&c1=&c2=&c3=&c4=&c5=&c6=&c7=&c8=&c9=&c10=" data-href="https://app.customerthermometer.com/?template=log_feedback&hash=504c3166&embed_data=dGVtcGVyYXR1cmVfaWQ9MiZ0aGVybW9tZXRlcl9pZD05MjI5NiZucHNfcmF0aW5nPS0x&e=&f=&l=&c=&c1=&c2=&c3=&c4=&c5=&c6=&c7=&c8=&c9=&c10=">
                <span class="c-thermometer__icon">🙂</span>
                <p>Good</p>
            </a>
            <a class="c-thermometer__emoji" target="_blank" href="https://app.customerthermometer.com/?template=log_feedback&hash=011d60ba&embed_data=dGVtcGVyYXR1cmVfaWQ9MyZ0aGVybW9tZXRlcl9pZD05MjI5NiZucHNfcmF0aW5nPS0x&e=&f=&l=&c=&c1=&c2=&c3=&c4=&c5=&c6=&c7=&c8=&c9=&c10=" data-href="https://app.customerthermometer.com/?template=log_feedback&hash=011d60ba&embed_data=dGVtcGVyYXR1cmVfaWQ9MyZ0aGVybW9tZXRlcl9pZD05MjI5NiZucHNfcmF0aW5nPS0x&e=&f=&l=&c=&c1=&c2=&c3=&c4=&c5=&c6=&c7=&c8=&c9=&c10=">
                <span class="c-thermometer__icon">😐</span>
                <p>Average</p>
            </a>
            <a class="c-thermometer__emoji" target="_blank" href="https://app.customerthermometer.com/?template=log_feedback&hash=6dafb2c6&embed_data=dGVtcGVyYXR1cmVfaWQ9NCZ0aGVybW9tZXRlcl9pZD05MjI5NiZucHNfcmF0aW5nPS0x&e=&f=&l=&c=&c1=&c2=&c3=&c4=&c5=&c6=&c7=&c8=&c9=&c10=" data-href="https://app.customerthermometer.com/?template=log_feedback&hash=6dafb2c6&embed_data=dGVtcGVyYXR1cmVfaWQ9NCZ0aGVybW9tZXRlcl9pZD05MjI5NiZucHNfcmF0aW5nPS0x&e=&f=&l=&c=&c1=&c2=&c3=&c4=&c5=&c6=&c7=&c8=&c9=&c10=">
                <span class="c-thermometer__icon">🙁</span>
                <p>Poor</p>
            </a>
        </div>
    </div>
    <div class="c-thermometer__trigger">
        🙂
    </div>
</div>


<style>
    .c-thermometer {
        margin: 0 1.6rem 1rem;
        display: block;
        text-align: center;
        position: relative;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 9999;
    }
    .c-thermometer:hover {
        min-width: 15rem;
        min-height: 5rem;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .c-thermometer__trigger {
        text-align: right;
        margin: .6rem 0 0;
        font-size: 2rem;
    }
    .c-thermometer__content {
        transform: translateY(300px);
        border: 2px solid #ddd;
        border-radius: 10px;
        background: #f6f6f6;
        padding: 1rem;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        -webkit-transition: opacity 0.3s ease;
        top: 1000px;
        position: absolute;
        right: 0;
        width: 20rem;
    }
    .c-thermometer:hover .c-thermometer__content {
        visibility: visible;
        opacity: 1;        
        top: -410px;
    }
    .c-thermometer__emojis:before {
        height: 2px;
        content: '';
        position: absolute;
        width: 14rem;
        background: black;
        margin-left: 2rem;
        top: 16px;
        opacity: .1;
    }
    .c-thermometer__emojis {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.6em;
    }
    .c-thermometer__emojis p {
        margin: 0;
        font-size: 0.5em;
    }
    .c-thermometer__emoji {
        cursor: pointer;
        z-index: 2;
        position: relative;
        opacity: .6;
        color: inherit;
        text-decoration: none;
        transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        filter: grayscale(100%);
        flex: 1;
    }
    .c-thermometer__emoji:hover {
        filter: grayscale(0);
        opacity: 1;
    }
    .c-thermometer__feedback {
        background: #fcfcfc;
        color: #777;
        position: relative;
        font-size: 15px;
        top: -10px;
    }
</style>

<script>
    let currentRating;
    $('.c-thermometer__emoji').on('click', function(){
        currentRating = $(this).data('href');
        $('.c-thermometer').html(`<div class='c-thermometer__feedback'>👍<br>Your rating was submitted. <a href='${currentRating}'>Click here</a> <br> to share additional feedback</div>`);
    });    
</script>