<p style="font-family: Arial; font-size: 12px;"><b>Is this page helpful?</b></p>
<div style="font-family: Arial; font-size: 12px; overflow:hidden;">
    <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: separate; border-spacing: 10px 5px; margin: 0 0; width: 320px;">
        <tr>
            <td width="25%" style="vertical-align:bottom; text-align:center;">
                <a style="text-decoration:none;" href="https://app.customerthermometer.com/?template=log_feedback&hash=f6089489&embed_data=dGVtcGVyYXR1cmVfaWQ9MSZ0aGVybW9tZXRlcl9pZD05MjI5NiZucHNfcmF0aW5nPS0x&e=&f=&l=&c=&c1=&c2=&c3=&c4=&c5=&c6=&c7=&c8=&c9=&c10="><img style="border: none;" src="https://app.customerthermometer.com/sites/app/images/icon_sets/emb_smiley5/Gold-1.jpg" alt="Gold Star" title="Gold Star" class="_temp" /></a>
            </td>
            <td width="25%" style="vertical-align:bottom; text-align:center;">
                <a style="text-decoration:none;" href="https://app.customerthermometer.com/?template=log_feedback&hash=504c3166&embed_data=dGVtcGVyYXR1cmVfaWQ9MiZ0aGVybW9tZXRlcl9pZD05MjI5NiZucHNfcmF0aW5nPS0x&e=&f=&l=&c=&c1=&c2=&c3=&c4=&c5=&c6=&c7=&c8=&c9=&c10="><img style="border: none;" src="https://app.customerthermometer.com/sites/app/images/icon_sets/emb_smiley5/Green-1.jpg" alt="Green Light" title="Green Light" class="_temp" /></a>
            </td>
            <td width="25%" style="vertical-align:bottom; text-align:center;">
                <a style="text-decoration:none;" href="https://app.customerthermometer.com/?template=log_feedback&hash=011d60ba&embed_data=dGVtcGVyYXR1cmVfaWQ9MyZ0aGVybW9tZXRlcl9pZD05MjI5NiZucHNfcmF0aW5nPS0x&e=&f=&l=&c=&c1=&c2=&c3=&c4=&c5=&c6=&c7=&c8=&c9=&c10="><img style="border: none;" src="https://app.customerthermometer.com/sites/app/images/icon_sets/emb_smiley5/Amber-1.jpg" alt="Yellow Light" title="Yellow Light" class="_temp" /></a>
            </td>
            <td width="25%" style="vertical-align:bottom; text-align:center;">
                <a style="text-decoration:none;" href="https://app.customerthermometer.com/?template=log_feedback&hash=6dafb2c6&embed_data=dGVtcGVyYXR1cmVfaWQ9NCZ0aGVybW9tZXRlcl9pZD05MjI5NiZucHNfcmF0aW5nPS0x&e=&f=&l=&c=&c1=&c2=&c3=&c4=&c5=&c6=&c7=&c8=&c9=&c10="><img style="border: none;" src="https://app.customerthermometer.com/sites/app/images/icon_sets/emb_smiley5/Red-1.jpg" alt="Red Light" title="Red Light" class="_temp" /></a>
            </td>
        </tr>
        <tr>
            <td style="text-align:center;"><span style="color:#B17657;">Excellent</span></td>
            <td style="text-align:center;"><span style="color:#66CC33;">Good</span></td>
            <td style="text-align:center;"><span style="color:#FFB40D;">Average</span></td>
            <td style="text-align:center;"><span style="color:#CC3333;">Poor</span></td>
        </tr>
    </table>
</div>
<p style="font-family: Arial; font-size: 12px;"></p>
