<header>
	<div class="header__container">
		<div class="search__icon">
			<i class="fa fa-search"></i>
		</div>
		<a href="https://docs.mattermost.com/" class="header__logo">
			<img width="176" height="29" src="{{ pathto('_static/images/Mattermost-Logo-Blue.svg', 1) }}" alt="Mattermost">
		</a>
		<div class="links__icon">
			<i class="fa fa-bars"></i>
		</div>
		<ul class="header__links">
			<li><a href="https://developers.mattermost.com/">Developers</a></li>
			<li><a href="https://mattermost.com/features/">Product</a></li>
			<li><a href="https://mattermost.com/pricing/">Pricing</a></li>
			<li><a href="https://mattermost.com/blog/">Blog</a></li>
			<li><a href="https://mattermost.com/download/">Download</a></li>
			<li><a href="https://mattermost.com/trial/">Trial</a></li>
		</ul>
		<div class="header__searchbar">
			<form id="rtd-search-form" class="wy-form" action="{{ pathto('search') }}" method="get">
                <input type="text" name="q" placeholder="Search by keyword" autofocus />
                <input type="hidden" name="check_keywords" value="yes" />
                <input type="hidden" name="area" value="default" />
            </form>
		</div>
	</div>
</header>
