{# Overrides the output of converting index.rst to enable a custom landing page for the docs #}
{# Ensure that all links found within the index.rst are transposed here as well. #}

{%- extends "layout-notoc.html" %}
{% set title = _('Mattermost Documentation') %}

{% block body %}

    <style type="text/css">

        .landing {
            width: 100%;
            max-width: 700px; /* Force to a maximum of 3 tiles wide */
            margin: 0 auto;
            text-align: center;
        }

        .landing .landing-title {
            text-align:center;
            font-size: 2em;
            margin: .67em 0
        }

        .landing .landing-search {
            overflow: hidden;
            padding:20px;
        }

        .landing .landing-search input[type="text"] {
            width: 640px;
            border-style: none;
            padding: 8px 12px;
            font-size: 16px;
            box-shadow: .5px 2px 4px 0 #bdbdbd;
        }

        @media screen and (max-width: 728px) {
            .landing .landing-search input[type="text"] {
                width: 420px;
            }
        }

        @media screen and (max-width: 508px) {
            .landing .landing-search {
                display: none;
            }
        }

        .tiles-flex {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-line-pack: center;
            align-content: center;
            max-width: 700px; /* purely to stop the max width of tiles at 3 */
        }

        .tile {
            /* looks */
            border-top: 8px solid #0058CC;
            background-color: #fff;
            box-shadow: .5px 2px 4px 0 #bdbdbd;
            /* sizing/boxing */
            width: 200px;
            height: 220px;
            margin: 10px;
            padding: 10px;
            /* animation */
            -webkit-transition: 250ms;
            transition: 250ms;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
            will-change: transform;
            /* layout */
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
        }

        .tile-last {
            /* looks */
            border-top: 8px solid #22406D;
            background-color: #fff;
            box-shadow: .5px 2px 4px 0 #bdbdbd;
            /* sizing/boxing */
            width: 300px;
            height: 180px;
            margin: 10px;
            padding: 10px;
            /* animation */
            -webkit-transition: 250ms;
            transition: 250ms;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
            will-change: transform;
            /* layout */
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
        }

        .tile:hover {
            -webkit-transform: translate3d(0,-6px,0);
            transform: translate3d(0,-6px,0)
        }

        .tile-last:hover {
            -webkit-transform: translate3d(0,-6px,0);
            transform: translate3d(0,-6px,0)
        }

        .tile .tile-title {
            /* looks */
            font-size: 20px;
            letter-spacing: .4px;
            color: #676363;
            /* sizing/boxing */
            height: 89px;
            width: 100%;
            margin: 0px;
            padding: 0px 20px;
            /* layout */
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -ms-flex-item-align: auto;
            align-self: auto;
            -webkit-box-orient:vertical;
            -webkit-box-direction:normal;
            -ms-flex-direction:column;
            flex-direction:column;
            -ms-flex-pack:distribute;
            justify-content:space-around;
        }

        .tile-last .tile-title {
            /* looks */
            font-size: 20px;
            letter-spacing: .4px;
            color: #676363;
            /* sizing/boxing */
            height: 89px;
            width: 100%;
            margin: 0px;
            padding: 0px 20px;
            /* layout */
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -ms-flex-item-align: auto;
            align-self: auto;
            -webkit-box-orient:vertical;
            -webkit-box-direction:normal;
            -ms-flex-direction:column;
            flex-direction:column;
            -ms-flex-pack:distribute;
            justify-content:space-around;
        }

        .tile .tile-divider {
            height:2px;
            width: 100%;
            margin: 0 5px;
            border: .5px solid #0058CC;
            background-color: #343537;
            -ms-flex-item-align: auto;
            align-self: auto;
        }

        .tile-last .tile-divider {
            height:2px;
            width: 100%;
            margin: 0 5px;
            border: .5px solid #0058CC;
            background-color: #343537;
            -ms-flex-item-align: auto;
            align-self: auto;
        }

        .tile .tile-description {
            /* looks */
            font-size: 14px;
            letter-spacing: .2px;
            line-height: 1.25;
            color: #757575;
            /* sizing/boxing */
            height: 89px;
            width: 100%;
            margin: 0px;
            /* layout */            
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -ms-flex-item-align: auto;
            align-self: auto;
            -webkit-box-orient:vertical;
            -webkit-box-direction:normal;
            -ms-flex-direction:column;
            flex-direction:column;
            -ms-flex-pack:distribute;
            justify-content:space-around;
        }

        .tile-last .tile-description {
            /* looks */
            font-size: 14px;
            letter-spacing: .2px;
            line-height: 1.25;
            color: #757575;
            /* sizing/boxing */
            height: 75px;
            width: 100%;
            margin: 0px;
            /* layout */            
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -ms-flex-item-align: auto;
            align-self: auto;
            -webkit-box-orient:vertical;
            -webkit-box-direction:normal;
            -ms-flex-direction:column;
            flex-direction:column;
            -ms-flex-pack:distribute;
            justify-content:space-around;
        }

    </style>

    <div class="landing">
        <h1 class="landing-title">Mattermost Product Documentation</h1>
        <div class="landing-search" role="search">
            <form id="rtd-search-form" class="wy-form" action="{{ pathto('search') }}" method="get">
                <input type="text" name="q" placeholder="What are you looking for?" autofocus />
                <input type="hidden" name="check_keywords" value="yes" />
                <input type="hidden" name="area" value="default" />
            </form>
        </div>
        <div class="tiles-flex">
            <a class="tile" href="guides/about-mattermost.html">
                <h2 class="tile-title">About Mattermost</h2>
                <div class="tile-divider"></div>
                <p class="tile-description">Learn about our products, security, integrations, and licensing</p>
            </a>            
            <a class="tile" href="guides/install-deploy-upgrade-scale.html">
                <h2 class="tile-title">Install, Deploy, Upgrade, and Scale</h2>
                <div class="tile-divider"></div>
                <p class="tile-description"> Install, host, and grow with Mattermost</p>
            </a>
            <a class="tile" href="guides/setup-onboard-manage-comply.html">
                <h2 class="tile-title">Set Up, Onboard, Manage, and Comply</h2>
                <div class="tile-divider"></div>
                <p class="tile-description"> Set up and manage Mattermost based on your business needs</p>
            </a>
            <a class="tile" href="guides/messaging.html">
                <h2 class="tile-title">Messaging</h2>
                <div class="tile-divider"></div>
                <p class="tile-description">Get the most out of Messaging</p>
            </a>
            <a class="tile" href="guides/incident-collaboration.html">
                <h2 class="tile-title">Incident Collaboration</h2>
                <div class="tile-divider"></div>
                <p class="tile-description">Get the most out of Incident Collaboration</p>
            </a>
            <a class="tile" href="https://github.com/mattermost/focalboard/">
                <h2 class="tile-title">Focalboard</h2>
                <div class="tile-divider"></div>
                <p class="tile-description">Get the most out of Focalboard</p>
            </a>
            <a class="tile-last" href="https://developers.mattermost.com/">
                <h2 class="tile-title">Mattermost for Developers</h2>
                <div class="tile-divider"></div>
                <p class="tile-description">Integrate with and contribute to the open source project</p>
            </a>
            <a class="tile-last" href="https://support.mattermost.com/hc/en-us">
                <h2 class="tile-title">Support Knowledge Base</h2>
                <div class="tile-divider"></div>
                <p class="tile-description">Find answers to your Mattermost questions</p>
            </a>
        </div>
    </div>
</div>

{% endblock %}
