<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirect</title>
</head>
<body>
<script>
    const DEFAULT_PAGE = "-";
    const FRAGMENT_REGEX = new RegExp("^([-?/:@._~!$&'()*+,;=a-zA-Z0-9]|%[0-9a-fA-F]{2})*$");
    {{ fragment_redirects }}
    const url = new URL(window.location.href);
    let fragment = DEFAULT_PAGE;
    if (url.hash !== "" && url.hash !== "#") {
        fragment = url.hash.substring(1);
    }
    if (fragment !== DEFAULT_PAGE && !FRAGMENT_REGEX.test(fragment)) {
        console.error("invalid fragment: " + fragment);
        fragment = "";
    }
    if (fragment !== "" && fragment in fragment_redirects) {
        let redirecturl = fragment_redirects[fragment];
        if (redirecturl.startsWith("/")) {
            redirecturl = window.location.origin + redirecturl;
        }
        window.location = redirecturl;
    } else {
        if (fragment !== "") {
            console.error("unknown redirect: " + fragment);
        }
        // TODO: redirect the user to a 404 page or some other page
    }
</script>
</body>
</html>
