<div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
        <span class="fa fa-cog"> Options</span>&nbsp;
        <span class="fa fa-angle-up"></span>
    </span>
    <div class="rst-other-versions">
        <dl>
            <dt>Contribute</dt>
            <dd>
                <a href="https://github.com/{{ github_user }}/{{ github_repo }}/issues">Report a Problem</a>
            </dd>
            {% if pagename != "search" %}
            <dd>
                <a href="https://github.com/{{ github_user }}/{{ github_repo }}/blob/{{ github_version }}{{ conf_py_path }}{{ pagename }}{{ page_source_suffix }}"> Edit on GitHub</a>
            </dd>
            {% endif %}
        </dl>
    </div>
</div>