/* Thermometer */
.c-thermometer {
    padding: 2rem 0 0;
    display: block;
    width: 270px;
    text-align: center;
    float: right;
    font-size: 14px;
}

.c-thermometer__trigger:hover {
    filter: grayscale(0);
}

.c-thermometer__popup p {
    margin: 0 2rem;
}

.c-thermometer .c-thermometer__paragraph {
    margin-bottom: 1rem;
}

.c-thermometer__close {
    cursor: pointer;
    position: absolute;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 1.4rem;
    right: 0.4rem;
    top: 0.4rem;
}

.c-thermometer__close:hover {
    color: #444;
}

.c-thermometer__emojis {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-thermometer__emojis p {
    margin: 0;
    font-size: inherit;
}

.c-thermometer__emoji {
    font-size: 28px;
}

.c-thermometer__emojis a {
    z-index: 2;
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    filter: grayscale(100%);
    flex: 1;
}

.c-thermometer__emojis a:hover, .c-thermometer__emojis a.selected {
    color: inherit;
    filter: grayscale(0);
}
/* Thermometer ends */

/* Thermometer group */
.c-thermometer__group {
    display: block;
    position: relative;
}
/* Thermometer group ends */

/* Thermometer Modal */

.c-thermometer-modal__container {
    display: block;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgb(0 0 0 / 50%);
}

.c-thermometer-modal__container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 24px;
}

.c-thermometer-modal__content {
    background: var(--color-background-primary);
    border-radius: 10px;
    padding: 24px;
    max-width: 368px;
    width: 100%;
}

.c-thermometer-modal__content h3 {
    margin-bottom: 12px;
}

.c-thermometer-modal__textarea-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 24px;
}

.c-thermometer-modal__textarea__error {
    color: #FD5960;
    display: none;
}

.c-thermometer-modal__counter {
    text-align: right;
}

.c-thermometer-modal__content p {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 1rem;
}

.c-thermometer-modal__content textarea {
    border-radius: 4px;
    height: 142px;
    padding: 14px;
    font-size: 16px;
    resize: none;
    border: 1px solid #797979;
    background-color: transparent;
    box-shadow: none;
    width: 100%;
}

.c-thermometer-modal__content textarea:focus {
    border-color:#166DE0;
}

.c-thermometer-modal__footer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.c-thermometer-modal__footer .btn {
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: var(--primary);
    background: transparent;
    border: 1px solid currentColor;
}

.c-thermometer-modal__footer .btn-primary {
    background-color: var(--primary);
    color: white;
    margin-left: 20px;
}

body:not([data-theme="light"]) {
    .c-thermometer-modal__footer .btn {
        color: var(--primary);
    }

    .c-thermometer-modal__footer .btn-primary {
        background: var(--primary);
        color: black;
    }
}

.c-thermometer-modal__footer .btn-primary:hover, .c-thermometer-modal__footer .btn-primary:focus, .c-thermometer-modal__footer .btn-primary:active {
    background: rgb(19, 93, 190);
}

/* Thermometer Modal Ends */

/* Thermometer Confirmation Popup */

.c-thermometer-popup {
    border-radius: 8px;
    border: 1px solid var(--color-foreground-border);
    box-shadow: 0 4px 6px var(--color-background-border);
    padding: 16px 0 24px;
    margin: 2rem 0 0;
    display: none;
    text-align: center;
    width: 270px;
    background: var(--color-sidebar-background);
    position: absolute;
    right: 0;
    z-index: 9;
}

.c-thermometer-popup h5 {
    font-size: 14px;
    margin: 8px 0;
}

.c-thermometer-popup p {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}

.c-thermometer-popup__close {
    position: absolute;
    width: 24px;
    height: 24px;
    color: var(--color-foreground-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    right: 8px;
    top: 8px;
    font-size: 22px;
    cursor: pointer;
}

.c-thermometer-popup__close:hover { }

/* Thermometer Confirmation Popup Ends */

@media (max-width: 1024px) {
    .c-thermometer {
        width: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .c-thermometer__trigger {
        width: 270px;
    }

    .c-thermometer-popup {
        max-width: 100%;
        width: 100%;
        top: 20px;
    }
}
