/** Grid settings **/
$main-sm-columns:		12;
$xs-width:				360;
$sm-width:				544;
$md-width:				768;
$lg-width:				992;
$xl-width:				1200;
$xls-width:				1600;
$grid-gutter-width:		24;

body {
    --font-trade: "trade-gothic-next", "Lato", "Helvetica Neue", "Arial", sans-serif;
    --color-highlight-on-target: rgb(255 212 112 / 32%);
    --primary: #1C58D9;
    --primary-rgb: 22, 88, 217;
    --neutral-50: #F4F4F6;
    --neutral-100: #E8E9ED;
    --denim-01: #C5D2EC;
    --denim-05: #1E325C;
    --black-01: #EBEBEF;
    --black-04: #5A6072;
    --black-05: #363A45;
    --body: #363A45;
}

body:not([data-theme=light]) {
    --body: #DDDDDD;
    --primary: #FFBC1F;
    --primary-rgb: 255, 188, 31;
    --color-highlight-on-target: rgb(255 212 112 / 32%);
}
