@media screen and (min-width: 1400px) {
	.wy-nav-content {
		height: auto;
		max-width: 100%;
	}
}

html, body {
	height: 100%;
	overflow: hidden;
}

.wy-table td, .rst-content table.docutils td, .rst-content table.field-list td {
	vertical-align: top;
}

.wy-nav-content .document {
	max-width: 1000px;
}

.wy-menu-vertical p.caption {
	color: #FFF;
	border-bottom: 1px solid #444;
	border-top: 1px solid #444;
	margin: 4px 0;
	height: 33px;
	font-weight: normal;
	background: #444;
}

.wy-menu-vertical p.caption:first-child {
	margin-top: -6px;
	border-top: 0;
}

.rst-content tt, .rst-content tt, .rst-content code {
	white-space: normal;
}

.rst-content .line-block {
	margin-left: 0;
	line-height: 24px;
}

.rst-content dl dt {
	margin-bottom: 5px;
	line-height: 24px;
}

.wy-nav-content-wrap {
	height: 100%;
	border-left: 1px solid #ddd;
	background: transparent;
	overflow: auto;
	padding-bottom: 60px;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
	font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}

.wy-menu-vertical {
	top: 130px;
	position: relative;
}

.wy-side-nav-search {
	margin-top: 70px;
}

.wy-menu-vertical li.toctree-l4 {
	font-size: 0.95em;
}

.wy-body-for-nav {
	position: fixed;
	width: 100%;
	top: 70px;
	height: 100%;
	background: transparent;
}

.wy-side-nav-search .icon, .wy-side-nav-search .version {
	display: none;
}

.wy-side-nav-search input[type=text] {
	border: 1px solid #ddd;
}

.wy-side-nav-search {
	background: #f9f9f9;
	position: fixed;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

header .links__icon {
	cursor: pointer;
	display: none;
	float: right;
	font-size: 20px;
	padding: 0 20px;
	right: -15px;
	position: relative;
}

.wy-nav-top {
	background: #F5F5F5;
	padding: 0 10px;
	color: #222;
	border-bottom: 1px solid #ccc;
}

.wy-nav-top a {
	color: inherit;
}

.wy-nav-top i {
	color: #999;
	font-size: 20px;
	top: 14px;
	left: 5px;
	position: relative;
}

header {
	height: 60px;
	line-height: 60px;
	z-index: 999;
	position: fixed;
	top: 0;
	width: 100%;
}

header .header__container {
	line-height: 67px;
	height: 70px;
	color: #444;
	border-bottom: 1px solid #ddd;
	background: #fff;
	padding: 0 15px 0 20px;
	overflow: hidden;
}

.wy-nav-side {
    background: #f9f9f9;
}

header .header__logo img {
	top: -1px;
	position: relative;
}

header .header__logo {
	float: left;
}

header .header__links {
	float: right;
	padding: 0;
}

header .header__links li {
	float: left;
	display: block;
}

header .header__links li a.active {
	color: #2e97e2;
	border-color: #2e97e2;
}

header .header__links li a {
	font-size: 15px;
	padding: 0 1em;
	color: inherit;
	display: block;
	border-top: 3px solid transparent;
}

@media (max-width: 768px){
	header .links__icon {
		display: block;
	}
	.wy-side-nav-search {
		position: relative;
	}
	.wy-menu-vertical {
		top: 0;
	}
	header .header__logo img {
		width: 176px;
	}
	header .header__links {
		display: none;
		width: 100%;
		line-height: 40px;
		padding-bottom: 10px;
	}
	header .header__links li {
		float: none;
	}
	header .header__links li a {
		display: block;
		padding-left: 0;
	}
	img {
		max-width: 100%;
		width: auto;
	}
}

.wy-menu-vertical li.toctree-l1 {
	display: none;
}

.wy-menu-vertical li.toctree-l1.current {
	display: block;
}

.wy-menu-vertical li.toctree-l1.current {
	background: transparent;
}

.wy-menu-vertical li.toctree-l1.current > a {
	border: none;
	color: #909090;
	pointer-events: none;
	background: transparent;
	padding: 0.5em 1em 0.6em;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2 > ul {
	display: block;
	font-size: 95%;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
	padding-left: 3em;
}

.wy-menu-vertical li.toctree-l2 li.toctree-l3 > a .toctree-expand {
	display: none;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2.current>ul, .wy-menu-vertical li.toctree-l2.current li.toctree-l3.current>ul {
	padding: 3px 0;
	margin: 3px 0;
}

.wy-menu-vertical li.toctree-l2 li.toctree-l3 > a.current .toctree-expand {
	display: block;
}

.wy-menu-vertical li.toctree-l1.current > a > .toctree-expand {
	display: none;
}

.wy-menu-vertical li.toctree-l2 > a > span.toctree-expand {
	display: none;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
	background: transparent;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a:hover {
	background-color: #EDF1F9;
}

.wy-menu-vertical li.toctree-l2 > a {
	border: none;
	color: #777;
	margin: 5px 0;
	height: 33px;
	font-weight: bold;
	background: #E4E4E4 !important;
	text-transform: uppercase;
	font-size: 80%;
	line-height: 33px;
	padding: 0 0 0 1.5em !important;
	pointer-events: none;
	-webkit-font-smoothing: auto;
}

.wy-menu-vertical li.current {
	background: transparent;
}

.wy-menu-vertical li.toctree-l3.current > ul {
	background: #eeeeee;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a {
	background: transparent;
	font-size: 100%;
	padding-left: 2.4em;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a.current {
	border: none;
	background: transparent;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
	padding-left: 1.5em;
}

.wy-menu-vertical li.current a {
	border-right: none;
}

.wy-menu-vertical li.current a:hover {
	background-color: #EDF1F9;
}

.wy-menu-vertical li.toctree-l3 > a {
	font-size: 100%;
	padding-left: 1.5em;
}

.wy-menu-vertical li.toctree-l3 > ul {
	display: none;
}

.wy-body-for-nav.hidden-nav .wy-nav-side {
	display: none;
}

.wy-body-for-nav.hidden-nav .wy-nav-content-wrap {
	margin-left: 0;
}

