@media screen and (min-width: 1400px) {
	.wy-nav-content {
		height: auto;
		max-width: 100%;
	}
}

html, body {
	height: 100%;
	overflow: hidden;
}

.wy-table td, .rst-content table.docutils td, .rst-content table.field-list td {
	vertical-align: top;
}

.wy-nav-content .document {
	max-width: 1000px;
}

.rst-content tt, .rst-content tt, .rst-content code {
	white-space: normal;
}

.rst-content .line-block {
	margin-left: 0;
	line-height: 24px;
}

.rst-content dl dt {
	margin-bottom: 5px;
	line-height: 24px;
}

.wy-nav-content-wrap {
	height: 100%;
	overflow: auto;
	padding-bottom: 60px;
}

h1, h2, ul.toctree-l1, h3, h4, h5, h6, legend {
	font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}

.wy-menu-vertical {
	top: 120px;
	position: relative;
}

.wy-side-nav-search {
	margin-top: 60px;
}

.wy-body-for-nav {
	padding-top: 60px;
}

.wy-side-nav-search .icon, .wy-side-nav-search .version {
	display: none;
}

.wy-side-nav-search input[type=text] {
	border: 1px solid #ddd;
}

.wy-side-nav-search {
	background: transparent;
	position: fixed;
	background: #343131;
	padding-bottom: 10px;
	border-bottom: 1px solid #5D5D5D;
}

header .links__icon {
	cursor: pointer;
	display: none;
	float: right;
	font-size: 20px;
	padding: 0 20px;
	right: -15px;
	position: relative;
}

.wy-nav-top {
	background: #F5F5F5;
	padding: 0 10px;
	color: #222;
	border-bottom: 1px solid #ccc;
}

.wy-nav-top a {
	color: inherit;
}

.wy-nav-top i {
	color: #999;
	font-size: 20px;
	top: 14px;
	left: 5px;
	position: relative;
}

header {
	height: 60px;
	line-height: 60px;
	z-index: 999;
	position: fixed;
	top: 0;
	width: 100%;
}

header .header__container {
	line-height: 60px;
	color: #fff;
	background: #0072c6;
	padding: 0 15px;
	overflow: hidden;
}

header .header__logo img {
	top: -1px;
	position: relative;
}

header .header__logo {
	float: left;
}

header .header__links {
	float: right;
	padding: 0;
}

header .header__links li {
	float: left;
	display: block;
}

header .header__links li a.active {
	color: #FEE882;
}

header .header__links li a {
	font-size: 15px;
	padding: 0 1em;
	color: inherit;
}

@media (max-width: 768px){
	header .links__icon {
		display: block;
	}
	.wy-side-nav-search {
		position: relative;
	}
	.wy-menu-vertical {
		top: 0;
	}
	header .header__logo img {
		width: 176px;
	}
	header .header__links {
		display: none;
		width: 100%;
		line-height: 40px;
		padding-bottom: 10px;
	}
	header .header__links li {
		float: none;
	}
	header .header__links li a {
		display: block;
		padding-left: 0;
	}
	img {
		max-width: 100%;
		width: auto;
	}
}

.wy-menu .toctree-l1 > a {
	color: #FFF;
	font-weight: normal;
	background: #444;
    padding: 0.5em 1.618em;
	text-transform: uppercase;
	font-size: 80%;
    border-top: solid 1px #666;
}

.wy-menu .toctree-l1:first-child > a {
	border-top: none;
	margin-top: -6px;
}

.wy-menu li.toctree-l1.current > a {
	background: transparent;
	border: none;
	color: inherit;
	margin-bottom: 5px;
}

.wy-menu-vertical li.current a:hover {
	background-color: #4e4a4a;
	cursor: pointer;
}

.wy-menu-vertical li.toctree-l2.current>a {
	color: #404040;
	font-weight: bold;
	position: relative;
	background: #fcfcfc;
	border: none;
	border-bottom: solid 1px #c9c9c9;
	border-top: solid 1px #c9c9c9;
	padding-left: 1.618em -4px;
}

.wy-menu-vertical li span.toctree-expand {
	color: #b3b3b3;
	font-size: 90%;
	margin: 1px 6px 0 -1em;
}

.wy-menu li.toctree-l1.current {
	color: #FFF;
	border-bottom: 1px solid #444;
	margin: -6px -1px 4px;
	height: 33px;
	font-weight: normal;
	background: #444;
}

.wy-menu-vertical > ul.current li.toctree-l1:not(.current) {
	display: none;
}

.wy-menu li.toctree-l1.current > a > .toctree-expand {
	display: none;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
	font-size: 95%;
}